@import '~../../../variables.scss';

.app-ihc-archives{
    font-family: $font;
    .contentBlock {
        background: rgba(255, 255, 255, 0.9);
        height: 100%;
    }
    .section1{
        height: auto;
        position: relative;
    }
    .section1:after {
        content:"";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url("../../../assets/images/addressBG.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
    }
}