<div class="col-12 no-padding app-ihc-archives">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">
      Indian Health Center of Santa Clara Valley Earns Recoginition for Patient-Centered Care
    </h1>
    <div class="col-12 font-weight-bold lead text-center mb-4">
      Patient-Centered Medical Home(TM) 2011 standards emphasize enhanced care through patient- clinician partnership
    </div>

    <div class="container content mt-4 p-4 contentBlock shadow animated slideInDown slow">
      <p>WASHINGTON, DC - The National Committee for Quality Assurance (NCQA) today announced that Indian Health Center
        of Santa Clara Valley has received Recognition from the Patient-Centered Medical Home 2011 (PCMH 2011) program
        for using evidence-based, patient-centered processes that focus on highly coordinated care and long term
        participative relationships.
      </p>
      <p> The patient-centered medical home is a model of care emphasizing care coordination and communication to
        transform primary care into "what patients want it to be." Research shows that medical homes can lead to higher
        and lower costs, and improve patients 'and providers' reported experiences of care. The PCMH identifies
        practices that promote partnerships between individual patients and their personal clinicians, instead of
        treating patient care as the sum of several episodic office visits. Each patient's care is tended to by
        clinician-led care teams, who provide for all the patient's health care needs and coordinate treatments across
        the healthcare system. Medical home clinicians demonstrate the benchmarks of patient-centered care, including
        open scheduling, expanded hours and appropriate use of proven health information systems.
      </p>
      <p> "The patient-centered medical home raises the bar in defining high-quality care by emphasizing access, health
        information technology and partnerships between clinicians and patients, "said NCQA President Margaret E.
        Okane. PCMH Recognition shows that Indian Health Center of Santa Clara Valley has the tools, systems and
        resources to provide their patients with the right care at the right time."
      </p>
      <p> To receive recognition, which is valid for three years , Indian Health Center of Santa Clara Valley
        demonstrated the ability to meet the program's key elements embodying characteristics of the medical home. The
        standards are aligned with the joint principles of the Patient-Centered Medical Home established with the
        American College of Physicians, the American Academy of Pediatrics and the American Osteopathic Association.
      </p>
    </div>


    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-8 mt-4">
          <div class="col-12 p-4 contentBlock shadow">
            <div class="lead text-green mb-4">Indian Health Center of Santa Clara Valley met key program components in
              the following
              areas:</div>
            <ul class="content">
              <li> Written standards for patient access and continuity of care
              </li>
              <li> Use of patient feedback materials</li>
              <li> Appropriate use of charting tools to track patients and organize clinical information
              </li>
              <li> Responsive care management techniques with an emphasis on preventive care for individual patients
                and
                for the entire patient population
              </li>
              <li> Adaptation to patient's cultural and linguistic needs
              </li>
              <li> Use of information technology for prescriptions, test and referral tracking and coordination with
                other health care providers
              </li>
              <li> Use of evidence-based guidelines to treat chronic conditions
              </li>
              <li> Measurement and reporting of clinical and service performance
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-4">
          <div class="col-12 p-4 contentBlock shadow">
            <div class="lead text-green mb-2">About NCQA</div>
            <div class="content">
              NCQA is a private, non-profit organization dedicated to improving health care quality. NCQA accredits and
              certifies a wide range of health care organizations. It also recognizes clinicians and practices in key
              areas of performance. NCQA's Healthcare Effectiveness Data and Information Set (HEIDS(R) ) is the most
              widely used performance measurement tool in health care. NCQA is committed to providing health care
              quality information for consumers, purchasers, health care providers and researchers.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>