<h3 class="p-3 mx-5 mt-5 badge-light text-success border-top border-bottom text-center">Financials - Audited Financial Statements</h3>
<div class="row pt-5">
  <div class="col-md-3">
    <a href="../../../assets/pdf/Indian-Health-Center-FYE-2017-June-Audited-Financial-Statements.pdf" class="c-link"
      target="_blank">
      <div class="card-box">
        <div class="card-title">
          <h2>Financial Year 16-17</h2>
          <p>Financial Statements and Single Audit Reports and Schedules </p>
        </div>
        <div class="card-link">
          <i class="fa fa-calendar"></i>
          June 30, 2017
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="../../../assets/pdf/Indian_Health_Center_2016_Final_Audit_Report.pdf" class="c-link" target="_blank">
      <div class="card-box">
        <div class="card-title">
          <h2>Financial Year 15-16</h2>
          <p>Financial Statements and Single Audit Reports and Schedules </p>
        </div>
        <div class="card-link">
          <i class="fa fa-calendar"></i>
          June 30, 2016
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="../../../assets/pdf/Indian_Health_Center_2015_Final_Audit_Report.pdf" class="c-link" target="_blank">
      <div class="card-box">
        <div class="card-title">
          <h2>Financial Year 14-15</h2>
          <p>Independent Auditor’S Report
            And
            Audited Financial Statements</p>
        </div>
        <div class="card-link">
          <i class="fa fa-calendar"></i>
          June 30, 2015
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="../../../assets/pdf/Indian_Health_Center_2014_Final_Audit_Report.pdf" class="c-link" target="_blank">
      <div class="card-box">
        <div class="card-title">
          <h2>Financial Year 13-14</h2>
          <p>Independent Auditor’S Report
            And
            Audited Financial Statements</p>
        </div>
        <div class="card-link">
          <i class="fa fa-calendar"></i>
          June 30, 2014
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row pt-5">
    <div class="col-md-3">
      <a href="../../../assets/pdf/Indian_Health_Center_of_Santa_Clara_Valley_FY_12-13_Audited_Financial_Statements.pdf" class="c-link"
        target="_blank">
        <div class="card-box">
          <div class="card-title">
            <h2>Financial Year 12-13</h2>
            <p>Independent Auditors’ Report
                Financial Statements
                Schedule of Expenditures of Federal Awards
                Internal Control and Compliance </p>
          </div>
          <div class="card-link">
            <i class="fa fa-calendar"></i>
            June 30, 2013
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="../../../assets/pdf/Indian_Health_Center_of_Santa_Clara_Valley_FY_11-12_Audited_Financial_Statements.pdf" class="c-link" target="_blank">
        <div class="card-box">
          <div class="card-title">
            <h2>Financial Year 11-12</h2>
            <p>Independent Auditors’ Report
                Financial Statements
                Schedule of Expenditures of Federal Awards
                Internal Control and Compliance </p>
          </div>
          <div class="card-link">
            <i class="fa fa-calendar"></i>
            June 30, 2012
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="../../../assets/pdf/Indian_Health_Center_of_Santa_Clara_Valley_FY_10-11_Audited_Financial_Statements.pdf" class="c-link" target="_blank">
        <div class="card-box">
          <div class="card-title">
            <h2>Financial Year 10-11</h2>
            <p>Independent Auditors’ Report
                Financial Statements
                Schedule of Expenditures of Federal Awards
                Internal Control and Compliance</p>
          </div>
          <div class="card-link">
            <i class="fa fa-calendar"></i>
            June 30, 2011
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="../../../assets/pdf/Indian_Health_Center_of_Santa_Clara_Valley_FY_09-10_Audited_Financial_Statements.pdf" class="c-link" target="_blank">
        <div class="card-box">
          <div class="card-title">
            <h2>Financial Year 09-10</h2>
            <p>Report of Independent Auditors
                Financial Statements
                Schedule of Expenditures of Federal Awards
                Internal Control and Compliance</p>
          </div>
          <div class="card-link">
            <i class="fa fa-calendar"></i>
            June 30, 2010
          </div>
        </div>
      </a>
    </div>
  </div>

  <hr class="mt-5">