@import '../../variables.scss'; 

.app-header {
    position: fixed;
    z-index: 999;
    height: 100px;
    border-bottom: 1px solid $gray;
    background: $black;
    .selectedList {
        background: $white;
        z-index: 9999;
        position: absolute;
        width: calc(100%);
        border-radius: 10px;
        li {
            margin-top: 10px;
            a{
                color: $black;
                font-size: 15px;
            }
            a:hover {
                text-decoration: none;
                color: $green;
            }
        }
    }
    .title-block {
        display: inline-block;
        margin-left: 15px;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: $white !important;
        display: inline-block;
        margin-top: 6px;
    }
    .tag{
        color: $white;
        font-size: 17px;
        margin-top: 18px;
        font-weight: bold;
        position: absolute;
        right: 0;
    }
    .app-logo {
        position: relative;
        height: 45px;
    }
    .menu-list {
        .close-icon{
            display: none;
        }
        .top-list-in-menu-list {
            display: none;
        }
        li {
            margin-left: 20px;
            a {
                font-size: 17px;
                text-transform: uppercase;
                color: $white !important;
            }
        }
        .dropdown-menu {
            min-width: 300px;
            li {
                margin-top: 10px;
                a {
                    color: $black !important;
                    text-transform: none;
                }
            }
        }
    }
    .spcl-menu{
        position: absolute;
        right: 0;
    }
    .search-box {
        width: 40%;
        z-index: 999;
        .search-icon {
            position: absolute;
            font-size: 20px;
            color: $green;
            background: #fb5;
            height: 39px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 10px;
        }

        .search-input {
            height: 40px;
            border: none !important;
            font-size: 16px;
            border-radius: 10px;
            outline: none !important;
            padding-left: 45px;
            box-shadow: none !important;
            border-bottom: 1px solid $black !important;
        }
    }
    .navbar-toggler {
        position: absolute;
        right: 0;
        color: $white;
        padding: 0;
    }
    .collapse.show {
        .menu-list {
            background: $white;
            position: absolute;
            width: auto !important;
            right: 0px;
            top: 50px;
            border-left: 1px solid $black;
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
            min-width: 300px;
            .close-icon{
                display: block;
            }
            li {
                margin-left: 10px !important;
                margin-right: 10px !important;
                margin-bottom: 10px;
                a {
                    font-size: 14px;
                    text-transform: none;
                    color: $black !important;
                }
                a:hover {
                    color: $green !important;
                }
            }
            .top-list-in-menu-list {
                display: list-item;
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .app-header { 
        .search-box {
            left: 10%;
        }
    }
}

@include media-breakpoint-down(lg) {
    .app-header { 
        .search-box {
            width: 30%;
            left: 10%;
        }
    }
}

@include media-breakpoint-down(md) {
    .app-header { 
        .tag {
            display: none;
        }
        .title-block {
            margin-left: 10px;
        }
        .top-list {
            display: none;
        }
        .search-box {
            width: 30%;
            left: 30%;
        }
        .spcl-menu{
            display: none;
        }
    }
}

@include media-breakpoint-down(sm) {
    .app-header{
        .title-block{
            margin-top: 0 !important;
        }
        .search-box{
            width: 70%;
            left: 0;
            position: absolute;
            top: 44px;
        }
    }
}

