@import '../../variables.scss'; 

.app-header{
    border-bottom: 1px solid $gray;
    // height: 120px;
    margin-bottom: 0;
    .navbar-brand {
        height: 120px !important;
    }
    .h1-heading {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 20px;
        position: relative;
        .app-mini-heading{
            font-size: 18px !important;
            text-transform: none !important;
        }
        .app-tag-heading {
            font-size:18px !important;
            font-weight: 200 !important;
        }
    }
    .header-menu {
        li {
            margin-top: 35px;
            margin-left: 30px;
        }
        li:hover{
            background: none !important;
        }
    }
    .menu-list{
        .navbar-nav {
            li {
                padding: 10px;
                a {
                    font-weight: bold;
                    color: $black !important;
                    font-size: 17px;
                    text-transform: uppercase;
                }
                .search-icon {
                    position: absolute;
                    font-size: 20px;
                    top: 22px;
                    color: $green;
                }
                .search-input {
                    height: 45px;
                    border: none !important;
                    font-size: 18px;
                    outline: none !important;
                    width: 300px;
                    padding-left: 30px;
                    box-shadow: none !important;
                    background: $bgGray;
                    border-bottom: 1px solid $black !important;
                }
            }
        }
    }
}