<div class="col-12 no-padding">
    <nav class="row app-header navbar navbar-expand-lg no-padding">
        <div class="col-12 col-sm-12 col-md-8 col-lg-7 navbar-header main-header">
            <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" class="app-logo"/></a>
            <h1 class="h1-heading relative">
                Indian Health Center<br/>
                <span class="app-mini-heading">of Santa Clara Valley</span><br/>
                <span class="app-tag-heading">Where Everyone is Welcome!</span>
            </h1>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 col-12 header-menu">
            <ul class="nav navbar-nav pull-right">
                <li><a class="pull-right app-link" href="#">IHC Patient Portal</a></li>
                <li><a class="pull-right app-link" href="#">Donate now</a></li>
            </ul>
        </div>
    </nav>
    <nav class="row app-header background-lite navbar navbar-expand-lg no-padding">
        <div class="col-6 col-md-9 col-lg-10">
            <button class="navbar-toggler margin-t10" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa fa-align-justify fa-2x"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav w-100 menu-list">
                    <li class="margin-t10"><a href="#" [routerLink]="['/home']">Home</a></li>
                    <li class="dropdown margin-t10">
                        <a href="#" data-toggle="dropdown">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" [routerLink]="['/mission-statement']">Mission Statement</a></li>
                            <li><a href="#" [routerLink]="['/history']">IHC History</a></li>
                            <li><a href="#" [routerLink]="['/board-directors']">Board of Directors</a></li>
                            <li><a href="#" [routerLink]="['/staff-directory']">Staff Directory</a></li>
                            <li><a href="#" [routerLink]="['/collaborative-partners']">Collaborative Partners</a></li>
                            <li><a href="#" [routerLink]="['/funders']">Funders</a></li>
                            <li><a href="#" [routerLink]="['/donors']">Donors</a></li>
                            <li><a href="#" [routerLink]="['/accreditation']">Accreditation</a></li>
                            <li><a href="#" [routerLink]="['/financials']">Financials</a></li>
                            <li><a href="../../assets/pdf/IHC_Brochure.pdf" target="_blank">IHC Brochure</a></li>
                        </ul>
                    </li>
                    <li class="dropdown margin-t10">
                        <a href="#" data-toggle="dropdown">Services and Programs</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" [routerLink]="['/community-wellness']">Community Wellness &amp; Outreach(CWO)</a></li>
                            <li><a href="#" [routerLink]="['/counseling-services']">Counseling</a></li>
                            <li><a href="#" >Dental</a></li>
                            <li><a href="#">Medical</a></li>
                            <li><a href="#">WIC/Nutrition</a></li>
                            <li><a href="#">New Patient Information</a></li>
                            <li><a href="#">American Indian Patient Relations</a></li>
                            <li><a href="#">Patient Success Stories</a></li>
                            <li><a href="#">Patient Rights &amp; Responsibilities</a></li>
                            <li><a href="#">HIPAA</a></li>
                        </ul>
                    </li>
                    <li class="dropdown margin-t10">
                        <a href="#" data-toggle="dropdown">Get Involved</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" target="_blank">Careers</a></li>
                            <li><a href="#">Donate</a></li>
                            <li><a href="#">Events &amp; Fundraisers</a></li>
                            <li><a href="#">Volunteer Opportunities</a></li>
                            <li><a href="#">Newsletters</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Customer Satisfaction Survey</a></li>
                            <li><a href="#">Comments/Suggestions</a></li>
                            <li><a href="#">Join our Mailing List</a></li>
                            <li><a href="#">IHC's Wish List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown margin-t10">
                        <a href="#" data-toggle="dropdown">Appointments</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" [routerLink]="['medicalAppointment']">Medical Appointment</a></li>
                            <li><a href="#">Dental Appointment</a></li>
                            <li><a href="#">Cita Medica</a></li>
                            <li><a href="#">Cita con Dentista</a></li>
                            <li><a href="#" target="_blank">IHC Patient
                                Portal</a></li>
                        </ul>
                    </li>
                    <li class="dropdown margin-t10">
                        <a href="#" data-toggle="dropdown">Resources</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" target="_blank">Find Health Coverage</a></li>
                            <li><a href="#">American Indian Resources</a></li>
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">IHC Archives</a></li>
                        </ul>
                    </li>
                    <li class="dropdown margin-t10">
                        <a href="#" data-toggle="dropdown">Contact</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" [routerLink]="['/locations']">Locations</a></li>
                            <li><a href="#" routerLink="/staff-contact">Staff Directory</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="col-6 col-md-3 col-lg-2 pl-0 menu-list list-unstyled">
            <li class="pull-right w-100">
                <span class="fa fa-search search-icon"></span>
                <input type="text" class="form-control search-input" placeholder="Search" />
            </li>
        </ul>
    </nav>
</div>
