@import '../../variables.scss'; 

.app-header{
    border-bottom: 1px solid $gray;
    margin-bottom: 0;
    .main-header {
        height: 120px !important;
        .navbar-brand {
            height: 90px;
            position: relative;
            top: -30px;
        }
    }
    .h1-heading {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 20px;
        position: relative;
        margin-top: 10px;
        .app-mini-heading {
            font-size: 18px !important;
            text-transform: none !important;
        }
        .app-tag-heading {
            font-size:18px !important;
            font-weight: 200 !important;
        }
    }
    .header-menu {
        margin-top: 10px;
        li {
            margin-top: 35px;
            margin-left: 30px;
        }
        li:hover{
            background: none !important;
        }
    }
    .menu-list{
        height: 65px;
        li {
            padding: 10px !important;
            a {
                font-weight: bold;
                color: $black !important;
                font-size: 17px;
                text-transform: uppercase;
            }
            .search-icon {
                position: absolute;
                font-size: 20px;
                top: 22px;
                color: $green;
            }
            .search-input {
                height: 45px;
                border: none !important;
                font-size: 18px;
                outline: none !important;
                width: 300px;
                padding-left: 30px;
                box-shadow: none !important;
                background: $bgGray;
                border-bottom: 1px solid $black !important;
            }
        }
    }
}