<div class="row app-footer py-4 px-3 background-lite borderTop">
  <div class="col-12 col-sm-8 text-left pl-2">
    Copyright &copy; Indian Health Center. All rights reserved.
  </div>
  <div class="col-12 col-sm-4 text-right pr-2">
    <a href="#" class="footer-link">IHC Portal</a>
    <a href="#" class="footer-link ml-3">Donate Now</a>
    <a href="https://www.facebook.com/IHCSanJose/" target="_blank" class="ml-3"><img height="30" width="30" src="../../assets/images/social_icons/facebook.png"/></a>
    <a href="https://twitter.com/IHCSanJose" target="_blank" class="ml-3"><img height="30" width="30" src="../../assets/images/social_icons/twitter.jpg"/></a>
    <a href="https://plus.google.com/+IndianhealthcenterOrg" target="_blank" class="ml-3"><img height="30" width="30" src="../../assets/images/social_icons/google_plus.png"/></a>
    <a href="http://indianhealthcenter.blogspot.com/" target="_blank" class="ml-3"><img height="30" width="30" src="../../assets/images/social_icons/blog.jpeg"/></a>
  </div>
</div>

<!-- <footer class="mt-5">
  <div class="row m-0">
    <ul class="list-group col-md-2 ml-auto">
      <li class="h6 list-group-item"><a href="#">Services And Programs</a></li>
      <li class="list-group-item"><a href="#">Community
          Wellness &amp; Outreach
          (CWO)</a></li>
      <li class="list-group-item"><a href="#">Counseling</a></li>
      <li class="list-group-item"><a href="#">Dental</a></li>
      <li class="list-group-item"><a href="#">Medical</a></li>
      <li class="list-group-item"><a href="#">WIC/Nutrition</a></li>
      <li class="list-group-item"><a href="#">New Patient
          Information</a></li>
      <li class="list-group-item"><a href="#">American
          Indian Patient Relations</a></li>
      <li class="list-group-item"><a href="#">Patient Success
          Stories</a></li>
      <li class="list-group-item"><a href="#">Patient
          Rights &amp;
          Responsibilities</a></li>
      <li class="list-group-item"><a href="#">HIPAA</a></li>
    </ul>
    <ul class="list-group col-md-2">
      <li class="h6 list-group-item"><a href="#">About Us</a></li>
      <li class="list-group-item"><a href="mission-statement.html">Mission Statement</a></li>
      <li class="list-group-item"><a href="ihc-history.html">IHC history</a></li>
      <li class="list-group-item"><a href="board-of-directors.html">Board of Directors</a></li>
      <li class="list-group-item"><a href="staff-directory.html">Staff Directory</a></li>
      <li class="list-group-item"><a href="collaborative-partners.html">Collaborative Partners</a></li>
      <li class="list-group-item"><a href="funders.html">Funders</a></li>
      <li class="list-group-item"><a href="donors.html">Donors</a></li>
      <li class="list-group-item"><a href="accreditation.html">Accreditation</a></li>
      <li class="list-group-item"><a href="financials.html">Financials</a></li>
      <li class="list-group-item"><a href="pdf/IHC_Brochure.pdf" target="_blank">IHC Brochure</a></li>
    </ul>
    <div class="col-md-2">
      <ul class="list-group">
        <li class="h6 list-group-item"><a href="#">Get Involved</a></li>
        <li class="list-group-item"><a href="#" target="_blank">Careers</a></li>
        <li class="list-group-item"><a href="#">Donate</a></li>
        <li class="list-group-item"><a href="#">Events &amp; Fundraisers</a></li>
        <li class="list-group-item"><a href="#">Volunteer Opportunities</a></li>
        <li class="list-group-item"><a href="#">Newsletters</a></li>
        <li class="list-group-item"><a href="#">Calendar</a></li>
        <li class="list-group-item"><a href="#">Customer Satisfaction
            Survey</a></li>
        <li class="list-group-item"><a href="#">Comments/Suggestions</a></li>
        <li class="list-group-item"><a href="#">Join our Mailing List</a></li>
        <li class="list-group-item"><a href="#">IHC's Wish List</a></li>
      </ul>
      <ul class="list-group">
        <li class="h6 list-group-item"><a href="#">Contact</a></li>
        <li class="list-group-item"><a href="#">Locations</a></li>
        <li class="list-group-item"><a href="#">Staff Directory</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-group">
        <li class="h6 list-group-item"><a href="#">Resources</a></li>
        <li class="list-group-item"><a href="#" target="_blank">Find Health Coverage</a></li>
        <li class="list-group-item"><a href="#">American Indian Resources</a></li>
        <li class="list-group-item"><a href="#">Frequently Asked Questions</a></li>
        <li class="list-group-item"><a href="#">IHC Archives</a></li>
      </ul>
      <ul class="list-group">
        <li class="h6 list-group-item"><a href="#">Staff Portal</a></li>
        <li class="list-group-item"><a href="#">Tickets</a></li>
      </ul>
      <ul class="list-group">
        <li class="h6 list-group-item"><a href="#">Appointment/CITA</a></li>
        <li class="list-group-item"><a href="#">Medical Appointment</a></li>
        <li class="list-group-item"><a href="#">Dental Appointment</a></li>
        <li class="list-group-item"><a href="#">Cita Medica</a></li>
        <li class="list-group-item"><a href="#">Cita con Dentista</a></li>
        <li class="list-group-item"><a href="#" target="_blank">IHC Patient
            Portal</a></li>
      </ul>
    </div>
    <div class="col-md-2 mr-auto">
      <aside class="address">
        <strong>Indian Health Center</strong>
        <p>Main Site:<br>
          <i class="fas fa-map-marked-alt"></i> 1333 Meridian Avenue<br>
          San Jose, CA 95125<br>
          <i class="fas fa-phone mr-1"></i>  <a href="tel:4084453400" onclick="ga('send', 'event', 'Call tracking', 'Click to call', '(408) 445-3400');">(408)
            445-3400</a><br>
            <i class="fas fa-fax"></i> (408) 269-9273</p>
      </aside>
    </div>
  </div>
</footer> -->