@import '../../variables.scss'; 

.list-group-item {
border: none !important;
padding: 3px;
}
.list-group a{
    font-size: 14px;
    color: gray;
}
a.footer-link {
    color: $green;
    text-decoration: underline;
}