<div class="row hnbg">
  <h1 class="w-100 text-center my-5 text-white">Culture Is Prevention For Our Future Generations</h1>
  <p class="px-5 text-white">The Indian Health Center’s Counseling Department is working to improve mental health
    outcomes for
    American
    Indian/Alaskan Native youth in Santa Clara County by providing them cultural and traditional education services.
    The Surgeon General’s 2001 report on Mental Health: Culture, Race and Ethnicity stressed the essential importance
    of culture in designing behavioral programs and the value of community-based programs as an alternative to the
    psychiatric model. Youth donation with help promote mental wellness for these youth.</p>
  <div class="row m-0">
    <div class="col p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center text-success">San Jose Native Youth Empowerment Program</h5>
          <p class="card-text">The SJNYEP is comprised of Native youth ages 10-17yrs. This program incorporates Native
            American values in case management, peer support, cultural education, community connection and leadership
            opportunities to build effective social skills, respect, self-worth, responsibility and wellness.</p>
        </div>
      </div>
    </div>
    <div class="col p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center text-success">Dance & Drum Classes</h5>
          <p class="card-text">Weekly classes are held at Roosevelt Community Center. A variety of pow wow dance styles
            and songs are taught. This is an opportunity for the community to reflection the beauty of our living
            culture.</p>
        </div>
      </div>
    </div>
    <div class="col p-3 align-items-center">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center text-success">Cultural Arts</h5>
          <p class="card-text">Cultural Arts Workshops offered are traditional Native American practices to strengthen
            the community and tribal identity.</p>
        </div>
      </div>
    </div>
    <div class="col p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center text-success">Educational Support</h5>
          <p class="card-text">The objective of the Educational Support staff is to provide tools to encourage and
            empower students to believe they can achieve their academic goals.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-5 bg mat-elevation-z8 px-5">
   <h5 class="text-center w-100 my-3"> Indian Health Center of Santa Clara Valley</h5>

    The Indian Health Center of Santa Clara Valley (IHC) is a 501(c)(3) non-profit organization established in 1977 to
    provide medical, dental and counseling services to the American Indian community of Santa Clara Valley.
    <p class="text-center w-100"><strong>Resource: </strong> <a href="https://svgives.razoo.com/us/story/Ihcscv" target="_blank"> https://svgives.razoo.com/us/story/Ihcscv</a></p>
  </div>
</div>