<div class="row pbg">
  <h1 class="text-center p-5 text-white w-100">Patient Rights And Responsibilities</h1>
  <h4 class="text-center p-3 text-white w-100 bg">THE PATIENT BILL OF RIGHTS</h4>
  <ul class="text-white m-5 bg py-3">
    <li>You have a right to considerate and respectful care.</li>

    <li>You have the right to receive information from your physician about your illness, your course of treatment and
      your prospects for understand. You have the right to know the name of the physician who has responsibility for
      coordinating your care, the names of other doctors who will see you, and their professional relationship.</li>

    <li>You have the right to receive as much information about any proposed treatment or procedure as you may need to
      give your consent or to refuse this course of treatment. Except in emergencies, this information should include a
      description of the procedure or treatment, medically significant risks involved, alternate courses of treatment
      or no treatment. You also have the right to know the name of the person who will carry out the procedure or
      treatment.</li>

    <li>You have the right to participate actively in decisions regarding your medical care. This includes the right to
      refuse treatment, and to be informed of the medical consequences of your action.</li>

    <li>You have the right to privacy in your medical care and treatment program. Case discussion, consultation,
      examination, and treatment ate confidential and should be conducted discreetly. Those not directly involved in
      your care must have your permission to be present.</li>

    <li>You have the right to confidential treatment of all communications and records pertaining to your care. You
      must provide to us in written permission before your medical records can be available to anyone not directly
      concerned with your care.</li>

    <li>You have the right to expect that are within its capacity, the IHC must make reasonable response to the request
      of a patient for standard services part of usual and customary practices.</li>

    <li>You have the right to obtain information about any relationship of the IHC to other health care and educational
      institution as they specify relate to your care.</li>

    <li>You have the right to refuse and are under no obligation to participate in any research project affecting your
      care or treatment.</li>

    <li>You have the right to expect reasonable continuity of care and to know in advance what appointment times and
      physicians are available and where.</li>

    <li>You have the right to examine your bill and receive an explanation of charges, whether these bills are being
      paid by you, your insurance company, or others.</li>

    <li>You have the right to know what IHC rules and regulations apply to your conduct as a patient.</li>

    <li>You have the right to request access to your records; nominal fees may apply for copies.</li>

    <li>If you have a complaint, you have the right to express your concerns.</li>

    <li>You have the right to change your medical provider.</li>
  </ul>
  <h4 class="text-center p-3 text-white w-100 bg">PATIENT BILL OF RESPONSIBILITIES</h4>
  <ul class="text-white m-5 bg py-3">

    <p>To ensure the best possible care for all patients, the Indian Health Center of Santa Clara Valley (IHC) asks
      each patient to accept the following responsibilities:</p>

    <li>To keep appointments, or telephone the IHC as soon as possible when you cannot keep a scheduled appointment.</li>

    <li>To provide to the best of knowledge, accurate and complete information about present complaints, past illnesses
      and hospitalizations, medications, advance directives and other matters relevant to health or care.</li>

    <li>To inform the IHC promptly if you do not understand any matter relating to your health care and treatment or if
      you are given instructions with which you cannot comply.</li>

    <li>To be considerate of other patients and staff.</li>

    <li>To observe the IHC’s smoke-free policy.</li>

    <li>To abide by the IHC’s rules and regulations.</li>

    <li>To provide the IHC with necessary information regarding coverage of your hospital charges.</li>

    <li>Patients are responsible for the impact of their actions if they refuse treatment or do not follow their
      practitioner’s instructions.</li>

  </ul>
</div>