<div class="row p-3 bg-light mbg">
  <div class="mtext col-md-7 p-5">
    <h4 class="display-4 font-weight-normal mb-4">Ways To Donate</h4>
    <p>The mission of the
      Indian Health Center has continued to provide world-class care to the
      Native American/Alaskan Native community for 30 years now because of
      the support from people like yourself. Your donations allow our organization
      to help thousands of people a year and we thank you for that.
    </p>
    <p>If you've never donated before, take a moment to look below at the many ways you can help.
        Donate what you can afford as every bit helps.
      </p>
      <p> Because the Indian Health Center of Santa Clara Valley is a nonprofit organization,
        we rely on support from individuals, foundations and corporations to enable us to offer
        opportunities to provide health services for American Indians, Alaskan Natives and
        other uninsured or underinsured members of our community.
      </p>
  </div>
  <div class="box-shadow d-none d-md-block col-md-5 icont text-right">
    <img src="../../assets/images/slide_1.jpg" alt="">
    <img src="../../assets/images/slide_2.jpg" alt="">
    <img src="../../assets/images/slide_3.jpg" alt="">
    <img src="../../assets/images/slide_4.jpg" alt=""><br>
    <img src="../../assets/images/slide_5.jpg" alt="">
    <img src="../../assets/images/slide_6.jpg" alt="">
    <img src="../../assets/images/slide_7.jpg" alt=""><br>
    <img src="../../assets/images/slide_8.jpg" alt="">
    <img src="../../assets/images/slide_1.jpg" alt=""><br>
    <img src="../../assets/images/slide_2.jpg" alt="">
  </div>
</div>
<div class="box row m-0" style="background-color: #f8f9fa!important">
  <div class="box1">
    <mat-card>
      <img src="../../assets/images/guidestar.png" alt="GuideStar">
      <p class="small">View our listing on GuideStar</p>
      Please consider one of the following ways to contribute to the Indian Health
      Center of Santa Clara Valley. Any donation amount is graciously accepted!
      <div>
        <mat-accordion>
          <mat-expansion-panel class="vl">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Donate on-line
              </mat-panel-title>
              <mat-panel-description>
                <!-- Send Your Donatio by on-line -->
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>To make a SECURE credit card donation on-line (IHC privacy policy) click on
              this button:</p>
            <button class="btn-st" mat-stroked-button color="primary" matTooltip="By clicking You can Donate now">
              Donate Now</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="vl">

            <mat-expansion-panel-header>
              <mat-panel-title>
                donate by mail
              </mat-panel-title>
              <mat-panel-description>
                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>To donate by mail, send a check, payable to Indian Health Center,
              and mail to us at 1333 Meridian Avenue, San Jose, CA 95125.</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="vl">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Donate by phone
              </mat-panel-title>
              <mat-panel-description>
                Yes you can donate by phone
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>To donate by phone, call our office (408-445-3400 ext. 2860) to
              use your credit card. We can accept VISA and MasterCard.</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="vl">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Honor special people
              </mat-panel-title>
              <mat-panel-description>
                occasions with your gift
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Honor special people or occasions with your gift.Honor a special person, celebrate an
              important occasion or holiday with a designated gift, or ask your friends to do so on your
              behalf. We will send an acknowledgement of each gift to the honoree.</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="vl">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Matching gifts program
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Please check with your employer’s human resources department to see if your employer
              participates in a matching gift program, and then submit required paperwork to Indian
              Health Center, 1333 Meridian Avenue, San Jose, CA 95125.</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="vl">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Make a bequest.
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p> You do not need to rewrite your will; a simple amendment (codicil) will do. The specific language to
              be included in your will or codicil should read: "I give, devise, and bequeath
              (indicate amount, proportionate share, remainder or specific property) to the Indian
              Health Center of Santa Clara Valley located in Santa Clara County, California, Federal
              Tax Identification Number: 94-2476242."</p>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </mat-card>
  </div>
  <br>
  <div>
    <mat-card>


      <p>
        We are very grateful for the generous financial support we receive from our many contributors. Your gift is
        an
        important step in developing a health care services safety net for those most in need in our community. Your
        gift will support the core, ongoing programs and services of the Indian Health Center of Santa Clara Valley
        including:
      </p>
      <div>
        <mat-expansion-panel class="vl">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons">control_point</i>
              <p class="mi-text">Medical Department</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p> Medical Department offers general medicine (acute and chronic),
            prenatal and pediatric care, women's health, birth control, pregnancy testing,
            physicals for work and school, low cost immunizations, public health nursing and
            treatment for sexually transmitted infections.</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel class="vl">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div mat-card-avatar class="example-header-image1"></div>
              <p class="mi-text">Dental Department</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>  Dental Department offers all phases of general dentistry for children and adults,
              including, emergency care, exams, x-rays, cleaning, gum treatment, fillings, sealants,
              crowns, extractions, root canals therapy, cancer screenings, full and partial dentures,
              orthodontic screenings and referrals, bite splits and dental health education.</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel class="vl">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div mat-card-avatar class="example-header-image1"></div>
              <p class="mi-text">Counseling Department</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>   Counseling Department offers case management services, mental health counseling, alcohol and
              other substance abuse counseling, recovery diversion groups, crisis intervention, assessments
              and evaluations, medication management, and linkages to residential programs.</p>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel class="vl">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div mat-card-avatar class="example-header-image3"></div>
              <p class="mi-text">Community Wellness</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>   Community Wellness & Outreach offers no cost diabetes health education,
              health screenings, home visits, case management, injury prevention education,
              prenatal education,, HIV counseling and testing, native youth group, fitness program,
              transportation, and community health and wellness activities.
          </p>
        </mat-expansion-panel>
      </div>

      <div>
        <mat-expansion-panel class="vl">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div mat-card-avatar class="example-header-image3"></div>
              <p class="mi-text">Women, Infants and Children Nutrition Department</p>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>   Women, Infants and Children Nutrition Department (WIC) offers nutrition education and food
              vouchers for low-income women and children, providing healthy foods at no cost, nutrition
              counseling and breast feeding support. Medical nutrition counseling is also provided for
              controlling diabetes, blood pressure, cholesterol, and weight.
          </p>
        </mat-expansion-panel>
      </div>

    </mat-card>
  </div>
  <mat-card class="last-p">
      <p>
          For more information on giving opportunities, please contact Vernon Medicine Cloud, Fund
          Developer, at (408) 445-3400 (ext. 2080) or by email at vmcloud@ihcscv.org. Thank you for
          you support!
        </p>
  </mat-card>

</div>
