<div class="col-12 no-padding app-comments-suggestion-page">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">Customer Satisfaction Survey</h1>
    <div class="container shadow py-5">
      <div class="col-12 font-weight-bold lead text-center">
        If you would like to leave comments or make suggestions for the Indian Health Center of Santa Clara Valley. <br/>
        <div class="mt-4">Please e-Mail Vernon Medicine Cloud at <a class="text-green" href="mailto:vmcloud@ihcscv.org" target="_top">vmcloud@ihcscv.org</a></div> 
      </div>
    </div>
  </div>
</div>