<div class="row px-4 mbg">
<h1 class="text-center text-success w-100 p-5 mb-0" style="    background-color: #ffffffb3;" >Medical Services</h1>
<div id="tabs" class="mb-5" style="background-color: #fffffff2;">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [color]="$green" [backgroundColor]="$green">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-map-marker-alt"></i>
        <p class="mb-0"> 1333 Meridian Avenue, San Jose, CA 95125</p>
      </ng-template>
      <div class="p-5 w-100">
        <h3 class="text-success mb-3">FREQUENTLY ASKED QUESTIONS - MERIDIAN</h3>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 1. What are the clinic hours?</h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Our hours continue to expand. Please see the most current information on the back or on our web site.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 2. What do I do for an urgent issue during or after clinic hours?</h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>During clinic hours call the Triage number below. If after hours, call the number (based on your
              insurance
              plan) listed on the clinic brochure in this packet. Call 911 for emergencies.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 3. Do you have a Patient Portal where I can communicate with my provider and view lab tests, etc.?
                </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Yes we do and we encourage you to use it. Please speak to the front desk to sign up for this service
              included with your care at the Indian Health Center! </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 4. How do I make an appointment? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Please call the clinic number to set up an appointment, or send a message through our Patient Portal.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 5. Do I need an appointment for a blood draw at your laboratory? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> No, you do not, Monday through Friday. Please come in and register and you will be called in by the
              laboratory technician on a first-come, first-served basis. We offer blood draws at our Meridian site. For
              all other sites, please ask your provider. NOTE: Labs on Saturday at Meridian require an appointment. </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 6. Do I need an appointment for an immunization (vaccination)? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> No, you do not, and often you can get them during your regular medical appointment. However, our
              walk-in
              immunization times vary, generally 8-11AM and 1-3:30PM Monday through Friday. Please call the clinic
              number
              before coming in to make sure the clinic is open. Bring your immunization records with you. NOTE: there
              is
              no PPD testing placement on Thursday. </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 7. Can I request a provider? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Yes, you can and you can change your provider at any time. Talk to a receptionist if you wish to change
              providers. Please be aware that not all of our providers are accepting new or transferring patients. </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 8. Do you have providers that specialize in certain areas? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Yes, some of our providers offer pediatric and adult care with different languages. Talk to our
              receptionist if you have a specific need. Our web site also contains more information about our
              providers.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 9. What about new prescriptions and prescription refills? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> You need to see your primary care provider for all new prescriptions. For refills, call the
              prescription
              department at the number below or send a message through our Patient Portal. </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 10. What about new referrals and referral follow up? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> You need to see your primary care provider for all new referrals. For referral follow up, call the
              referral department at the number below. </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 11. Are you a Patient Centered Medical Home? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Yes, we are proud of our Level 3 (highest level possible) recognition. We put you at the center of your
              care. Please refer to our PCMH brochure for more information. </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6> 12. What do I do about filling out paperwork such as disability, DMV, school forms, etc.? </h6>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Please allow 3 business days for the completion of any paperwork. All forms are different and may
              require
              a specific exam, documentation or require a visit to complete. If the form is simple you may be able to
              drop it off at the front desk. Please check with your provider’s medical assistant. </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row m-0">
        <div class="col-md-6 p-5">
          <aside>
              <h3 class="text-success mb-5 text-center"> Services Provided </h3>

            <p>Our clinic uses the family practice model of health care. Below is a summarized list of our services,
              and we offer many other services in addition. Please contact the Medical Department for more information.
            </p>

            <ul class="timeline">

              <li>Pregnancy Testing</li>
              <li>Comprehensive Prenatal Care</li>
              <li>Postpartum care</li>
              <li>Women's Health: pap smears, clinical breast exams, birth control.</li>
              <li>Pediatric and adolescent medicine</li>
              <li>Immunizations</li>
              <li>Adult health: preventative, acute, and chronic care</li>
              <li>Chronic disease prevention and treatment for asthma, hypertension, diabetes and obesity</li>
              <li>STD Testing &amp; Treatment</li>
              <li>Comprehensive geriatric/elder care</li>
              <li>Yearly Work &amp; School Physicals</li>
              <li>Podiatry</li>
              <li>Psychiatry</li>
              <li>On-site lab</li>
              <li>Help Accessing Free or Low Cost Insurance for Children and Adults</li>
              <li>Birth Control</li>
            </ul>
          </aside>

        </div>
        <div class="col-md-6 p-5">
          <aside>
              <h3 class="text-success mb-5 text-center">Preparing For Your Visit </h3>

            <p><strong>Before Your Appointment:</strong></p>

            <ul class="timeline">

              <li>Bring all the medicines you take to your appointment. This includes:
                <ul class="list-unstyled">

                  <li>- Prescription medicines.</li>
                  <li>- Non-prescription medicines, such as aspirin or antacids.</li>
                  <li>- Vitamins</li>
                  <li>- Dietary or herbal supplements.</li>
                </ul>
              </li>
              <li>Write down the questions you have for the visit.</li>
              <li>Know your current medical conditions, past surgeries, and illnesses.</li>
              <li>Bring the name and contact information of your previous primary care provider and any specialists you
                are currently seeing.</li>
              <li> Bring information on any hospitalizations, specialist’s visits or emergency room visits.</li>
              <li>Bring any immunization records</li>
              <li>Bring ID and Insurance Cards</li>
            </ul>
          </aside>

        </div>
      </div>
      <div class="w-100 p-5">
        <h3 class="text-success mb-3">Important Information</h3>
        <table width="100%" class="table table-bordered mat-elevation-z4">
          <tbody>
            <tr>
              <td><strong>Address</strong></td>
              <td><strong>Meridian Main Clinic</strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>1333 Meridian Avenue, San Jose, CA 95125<br>
                (near Meridian &amp; Willow)
              </td>
            </tr>
            <tr>
              <td><strong>Hours of Operation</strong></td>
              <td>M &amp; Fr 8 am - 5 pm T, W, Th, 8 am - 7 pm <br>
                <strong>Sat: By appointment only</strong>
              </td>
            </tr>
            <tr>
              <td><strong>Main Phone Number</strong></td>
              <td>(408) 445-3400</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><em>If you reach the automated attendant, please dial the extension at any
                  time.</em></td>
            </tr>
            <tr>
              <td><strong>After Hours Medical Information</strong></td>
              <td>(408) 445-3400 <br>
                Or refer to the number that suits your needs: <br>
                <strong>Anthem Blue Cross/Medi-Cal:</strong> (800) 224-0336 <br>
                <strong>Santa Clara Family Health Plan members:</strong> (877) 509-0294 <br>
                <strong>Valley Care:</strong> (866) 882-6557 <br>
                <strong>Valley Health Plan:</strong> (866) 682-9492 <br>
                <strong>Emergency Dental:</strong> (408) 817-1461 then #1
              </td>
            </tr>
            <tr>
              <td><strong>Clinic Manager</strong></td>
              <td>(408) 445-3400 Ext 3690</td>
            </tr>
            <tr>
              <td><strong>Eligibility/New Patient</strong></td>
              <td>(408) 445-3400 Ext 2330, 3470</td>
            </tr>
            <tr>
              <td><strong>Medical Records</strong></td>
              <td>(408) 445-3400 Ext 2040<br>
                FAX: (408) 266-7567
              </td>
            </tr>
            <tr>
              <td><strong>Prescription Refill Request</strong></td>
              <td>(408) 445-3400 Ext 2980<br>
                FAX: (408) 266-7567
              </td>
            </tr>
            <tr>
              <td><strong>Medical Appointment Scheduling</strong> <br>
                (Established Patients)
              </td>
              <td>(408) 445-3400 Ext 2500, 3340 or 2010</td>
            </tr>
            <tr>
              <td><strong>Referrals</strong></td>
              <td>(408) 445-3400 Ext 2580</td>
            </tr>
            <tr>
              <td><strong>Triage</strong></td>
              <td>(408) 445-3400 Ext 2500</td>
            </tr>
            <tr>
              <td><strong>Walk-In Appointment</strong></td>
              <td>(408) 445-3400 Ext 2500</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.6344915750874!2d-121.93639118469511!3d37.327484779843346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcb17beb6f5f5%3A0xadfa0f7696f303d4!2s2039+Forest+Ave+%23105%2C+San+Jose%2C+CA+95128%2C+USA!5e0!3m2!1sen!2s!4v1447309152557"
          width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-map-marker-alt"></i>
        <p class="mb-0"> 455 O'Connor Drive, Suite 200, San Jose, CA 95128</p>
      </ng-template>
      <div class="p-5 w-100">
          <h3 class="text-success mb-3">FREQUENTLY ASKED QUESTIONS - FAMILY MEDICINE CENTER</h3>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 1. What are the clinic hours?</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Our hours continue to expand. Please see the most current information on the back or on our web site.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 2. What do I do for an urgent issue during or after clinic hours?</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>During clinic hours call the Triage number below. If after hours, call the number (based on your
                insurance
                plan) listed on the clinic brochure in this packet. Call 911 for emergencies.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 3. Do you have a Patient Portal where I can communicate with my provider and view lab tests, etc.?
                  </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes we do and we encourage you to use it. Please speak to the front desk to sign up for this service
                included with your care at the Indian Health Center! </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 4. How do I make an appointment? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Please call the clinic number to set up an appointment, or send a message through our Patient Portal.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 5. Do I need an appointment for a blood draw at your laboratory? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> No, you do not, Monday through Friday. Please come in and register and you will be called in by the
                laboratory technician on a first-come, first-served basis. We offer blood draws at our Meridian site. For
                all other sites, please ask your provider. NOTE: Labs on Saturday at Meridian require an appointment. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 6. Do I need an appointment for an immunization (vaccination)? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> No, you do not, and often you can get them during your regular medical appointment. However, our
                walk-in
                immunization times vary, generally 8-11AM and 1-3:30PM Monday through Friday. Please call the clinic
                number
                before coming in to make sure the clinic is open. Bring your immunization records with you. NOTE: there
                is
                no PPD testing placement on Thursday. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 7. Can I request a provider? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, you can and you can change your provider at any time. Talk to a receptionist if you wish to change
                providers. Please be aware that not all of our providers are accepting new or transferring patients. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 8. Do you have providers that specialize in certain areas? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, some of our providers offer pediatric and adult care with different languages. Talk to our
                receptionist if you have a specific need. Our web site also contains more information about our
                providers.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 9. What about new prescriptions and prescription refills? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> You need to see your primary care provider for all new prescriptions. For refills, call the
                prescription
                department at the number below or send a message through our Patient Portal. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 10. What about new referrals and referral follow up? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> You need to see your primary care provider for all new referrals. For referral follow up, call the
                referral department at the number below. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 11. Are you a Patient Centered Medical Home? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, we are proud of our Level 3 (highest level possible) recognition. We put you at the center of your
                care. Please refer to our PCMH brochure for more information. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 12. What do I do about filling out paperwork such as disability, DMV, school forms, etc.? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Please allow 3 business days for the completion of any paperwork. All forms are different and may
                require
                a specific exam, documentation or require a visit to complete. If the form is simple you may be able to
                drop it off at the front desk. Please check with your provider’s medical assistant. </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="row m-0">
          <div class="col-md-6 p-5">
            <aside>
                <h3 class="text-success mb-5 text-center"> Services Provided </h3>
  
              <p>Our clinic uses the family practice model of health care. Below is a summarized list of our services,
                and we offer many other services in addition. Please contact the Medical Department for more information.
              </p>
  
              <ul class="timeline">
  
                <li>Pregnancy Testing</li>
                <li>Comprehensive Prenatal Care</li>
                <li>Postpartum care</li>
                <li>Women's Health: pap smears, clinical breast exams, birth control.</li>
                <li>Pediatric and adolescent medicine</li>
                <li>Immunizations</li>
                <li>Adult health: preventative, acute, and chronic care</li>
                <li>Chronic disease prevention and treatment for asthma, hypertension, diabetes and obesity</li>
                <li>STD Testing &amp; Treatment</li>
                <li>Comprehensive geriatric/elder care</li>
                <li>Yearly Work &amp; School Physicals</li>
                <li>Podiatry</li>
                <li>Psychiatry</li>
                <li>On-site lab</li>
                <li>Help Accessing Free or Low Cost Insurance for Children and Adults</li>
                <li>Birth Control</li>
              </ul>
            </aside>
  
          </div>
          <div class="col-md-6 p-5">
            <aside>
                <h3 class="text-success mb-5 text-center">Preparing For Your Visit </h3>
  
              <p><strong>Before Your Appointment:</strong></p>
  
              <ul class="timeline">
  
                <li>Bring all the medicines you take to your appointment. This includes:
                  <ul class="list-unstyled">
  
                    <li>- Prescription medicines.</li>
                    <li>- Non-prescription medicines, such as aspirin or antacids.</li>
                    <li>- Vitamins</li>
                    <li>- Dietary or herbal supplements.</li>
                  </ul>
                </li>
                <li>Write down the questions you have for the visit.</li>
                <li>Know your current medical conditions, past surgeries, and illnesses.</li>
                <li>Bring the name and contact information of your previous primary care provider and any specialists you
                  are currently seeing.</li>
                <li> Bring information on any hospitalizations, specialist’s visits or emergency room visits.</li>
                <li>Bring any immunization records</li>
                <li>Bring ID and Insurance Cards</li>
              </ul>
            </aside>
  
          </div>
        </div>
        <div class="w-100 p-5">
          <h3 class="text-success mb-3">Important Information</h3>
          <table width="100%" class="table table-bordered mat-elevation-z4">
            <tbody>
              <tr>
                <td><strong>Address</strong></td>
                <td><strong>Meridian Main Clinic</strong></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>1333 Meridian Avenue, San Jose, CA 95125<br>
                  (near Meridian &amp; Willow)
                </td>
              </tr>
              <tr>
                <td><strong>Hours of Operation</strong></td>
                <td>M &amp; Fr 8 am - 5 pm T, W, Th, 8 am - 7 pm <br>
                  <strong>Sat: By appointment only</strong>
                </td>
              </tr>
              <tr>
                <td><strong>Main Phone Number</strong></td>
                <td>(408) 445-3400</td>
              </tr>
              <tr>
                <td colspan="2" align="center"><em>If you reach the automated attendant, please dial the extension at any
                    time.</em></td>
              </tr>
              <tr>
                <td><strong>After Hours Medical Information</strong></td>
                <td>(408) 445-3400 <br>
                  Or refer to the number that suits your needs: <br>
                  <strong>Anthem Blue Cross/Medi-Cal:</strong> (800) 224-0336 <br>
                  <strong>Santa Clara Family Health Plan members:</strong> (877) 509-0294 <br>
                  <strong>Valley Care:</strong> (866) 882-6557 <br>
                  <strong>Valley Health Plan:</strong> (866) 682-9492 <br>
                  <strong>Emergency Dental:</strong> (408) 817-1461 then #1
                </td>
              </tr>
              <tr>
                <td><strong>Clinic Manager</strong></td>
                <td>(408) 445-3400 Ext 3690</td>
              </tr>
              <tr>
                <td><strong>Eligibility/New Patient</strong></td>
                <td>(408) 445-3400 Ext 2330, 3470</td>
              </tr>
              <tr>
                <td><strong>Medical Records</strong></td>
                <td>(408) 445-3400 Ext 2040<br>
                  FAX: (408) 266-7567
                </td>
              </tr>
              <tr>
                <td><strong>Prescription Refill Request</strong></td>
                <td>(408) 445-3400 Ext 2980<br>
                  FAX: (408) 266-7567
                </td>
              </tr>
              <tr>
                <td><strong>Medical Appointment Scheduling</strong> <br>
                  (Established Patients)
                </td>
                <td>(408) 445-3400 Ext 2500, 3340 or 2010</td>
              </tr>
              <tr>
                <td><strong>Referrals</strong></td>
                <td>(408) 445-3400 Ext 2580</td>
              </tr>
              <tr>
                <td><strong>Triage</strong></td>
                <td>(408) 445-3400 Ext 2500</td>
              </tr>
              <tr>
                <td><strong>Walk-In Appointment</strong></td>
                <td>(408) 445-3400 Ext 2500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.6344915750874!2d-121.93639118469511!3d37.327484779843346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcb17beb6f5f5%3A0xadfa0f7696f303d4!2s2039+Forest+Ave+%23105%2C+San+Jose%2C+CA+95128%2C+USA!5e0!3m2!1sen!2s!4v1447309152557"
            width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-map-marker-alt"></i>
        <p class="mb-0"> 1642 East Capitol Expressway, San Jose, CA 95121</p>
      </ng-template>

      <div class="p-5 w-100">
          <h3 class="text-success mb-3">FREQUENTLY ASKED QUESTIONS - SILVER CREEK</h3>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 1. What are the clinic hours?</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Our hours continue to expand. Please see the most current information on the back or on our web site.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 2. What do I do for an urgent issue during or after clinic hours?</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>During clinic hours call the Triage number below. If after hours, call the number (based on your
                insurance
                plan) listed on the clinic brochure in this packet. Call 911 for emergencies.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 3. Do you have a Patient Portal where I can communicate with my provider and view lab tests, etc.?
                  </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes we do and we encourage you to use it. Please speak to the front desk to sign up for this service
                included with your care at the Indian Health Center! </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 4. How do I make an appointment? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Please call the clinic number to set up an appointment, or send a message through our Patient Portal.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 5. Do I need an appointment for a blood draw at your laboratory? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> No, you do not, Monday through Friday. Please come in and register and you will be called in by the
                laboratory technician on a first-come, first-served basis. We offer blood draws at our Meridian site. For
                all other sites, please ask your provider. NOTE: Labs on Saturday at Meridian require an appointment. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 6. Do I need an appointment for an immunization (vaccination)? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> No, you do not, and often you can get them during your regular medical appointment. However, our
                walk-in
                immunization times vary, generally 8-11AM and 1-3:30PM Monday through Friday. Please call the clinic
                number
                before coming in to make sure the clinic is open. Bring your immunization records with you. NOTE: there
                is
                no PPD testing placement on Thursday. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 7. Can I request a provider? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, you can and you can change your provider at any time. Talk to a receptionist if you wish to change
                providers. Please be aware that not all of our providers are accepting new or transferring patients. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 8. Do you have providers that specialize in certain areas? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, some of our providers offer pediatric and adult care with different languages. Talk to our
                receptionist if you have a specific need. Our web site also contains more information about our
                providers.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 9. What about new prescriptions and prescription refills? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> You need to see your primary care provider for all new prescriptions. For refills, call the
                prescription
                department at the number below or send a message through our Patient Portal. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 10. What about new referrals and referral follow up? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> You need to see your primary care provider for all new referrals. For referral follow up, call the
                referral department at the number below. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 11. Are you a Patient Centered Medical Home? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, we are proud of our Level 3 (highest level possible) recognition. We put you at the center of your
                care. Please refer to our PCMH brochure for more information. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 12. What do I do about filling out paperwork such as disability, DMV, school forms, etc.? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Please allow 3 business days for the completion of any paperwork. All forms are different and may
                require
                a specific exam, documentation or require a visit to complete. If the form is simple you may be able to
                drop it off at the front desk. Please check with your provider’s medical assistant. </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="row m-0">
          <div class="col-md-6 p-5">
            <aside>
                <h3 class="text-success mb-5 text-center"> Services Provided </h3>
  
              <p>Our clinic uses the family practice model of health care. Below is a summarized list of our services,
                and we offer many other services in addition. Please contact the Medical Department for more information.
              </p>
  
              <ul class="timeline">
  
                <li>Pregnancy Testing</li>
                <li>Comprehensive Prenatal Care</li>
                <li>Postpartum care</li>
                <li>Women's Health: pap smears, clinical breast exams, birth control.</li>
                <li>Pediatric and adolescent medicine</li>
                <li>Immunizations</li>
                <li>Adult health: preventative, acute, and chronic care</li>
                <li>Chronic disease prevention and treatment for asthma, hypertension, diabetes and obesity</li>
                <li>STD Testing &amp; Treatment</li>
                <li>Comprehensive geriatric/elder care</li>
                <li>Yearly Work &amp; School Physicals</li>
                <li>Podiatry</li>
                <li>Psychiatry</li>
                <li>On-site lab</li>
                <li>Help Accessing Free or Low Cost Insurance for Children and Adults</li>
                <li>Birth Control</li>
              </ul>
            </aside>
  
          </div>
          <div class="col-md-6 p-5">
            <aside>
                <h3 class="text-success mb-5 text-center">Preparing For Your Visit </h3>
  
              <p><strong>Before Your Appointment:</strong></p>
  
              <ul class="timeline">
  
                <li>Bring all the medicines you take to your appointment. This includes:
                  <ul class="list-unstyled">
  
                    <li>- Prescription medicines.</li>
                    <li>- Non-prescription medicines, such as aspirin or antacids.</li>
                    <li>- Vitamins</li>
                    <li>- Dietary or herbal supplements.</li>
                  </ul>
                </li>
                <li>Write down the questions you have for the visit.</li>
                <li>Know your current medical conditions, past surgeries, and illnesses.</li>
                <li>Bring the name and contact information of your previous primary care provider and any specialists you
                  are currently seeing.</li>
                <li> Bring information on any hospitalizations, specialist’s visits or emergency room visits.</li>
                <li>Bring any immunization records</li>
                <li>Bring ID and Insurance Cards</li>
              </ul>
            </aside>
  
          </div>
        </div>
        <div class="w-100 p-5">
          <h3 class="text-success mb-3">Important Information</h3>
          <table width="100%" class="table table-bordered mat-elevation-z4">
            <tbody>
              <tr>
                <td><strong>Address</strong></td>
                <td><strong>Meridian Main Clinic</strong></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>1333 Meridian Avenue, San Jose, CA 95125<br>
                  (near Meridian &amp; Willow)
                </td>
              </tr>
              <tr>
                <td><strong>Hours of Operation</strong></td>
                <td>M &amp; Fr 8 am - 5 pm T, W, Th, 8 am - 7 pm <br>
                  <strong>Sat: By appointment only</strong>
                </td>
              </tr>
              <tr>
                <td><strong>Main Phone Number</strong></td>
                <td>(408) 445-3400</td>
              </tr>
              <tr>
                <td colspan="2" align="center"><em>If you reach the automated attendant, please dial the extension at any
                    time.</em></td>
              </tr>
              <tr>
                <td><strong>After Hours Medical Information</strong></td>
                <td>(408) 445-3400 <br>
                  Or refer to the number that suits your needs: <br>
                  <strong>Anthem Blue Cross/Medi-Cal:</strong> (800) 224-0336 <br>
                  <strong>Santa Clara Family Health Plan members:</strong> (877) 509-0294 <br>
                  <strong>Valley Care:</strong> (866) 882-6557 <br>
                  <strong>Valley Health Plan:</strong> (866) 682-9492 <br>
                  <strong>Emergency Dental:</strong> (408) 817-1461 then #1
                </td>
              </tr>
              <tr>
                <td><strong>Clinic Manager</strong></td>
                <td>(408) 445-3400 Ext 3690</td>
              </tr>
              <tr>
                <td><strong>Eligibility/New Patient</strong></td>
                <td>(408) 445-3400 Ext 2330, 3470</td>
              </tr>
              <tr>
                <td><strong>Medical Records</strong></td>
                <td>(408) 445-3400 Ext 2040<br>
                  FAX: (408) 266-7567
                </td>
              </tr>
              <tr>
                <td><strong>Prescription Refill Request</strong></td>
                <td>(408) 445-3400 Ext 2980<br>
                  FAX: (408) 266-7567
                </td>
              </tr>
              <tr>
                <td><strong>Medical Appointment Scheduling</strong> <br>
                  (Established Patients)
                </td>
                <td>(408) 445-3400 Ext 2500, 3340 or 2010</td>
              </tr>
              <tr>
                <td><strong>Referrals</strong></td>
                <td>(408) 445-3400 Ext 2580</td>
              </tr>
              <tr>
                <td><strong>Triage</strong></td>
                <td>(408) 445-3400 Ext 2500</td>
              </tr>
              <tr>
                <td><strong>Walk-In Appointment</strong></td>
                <td>(408) 445-3400 Ext 2500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.6344915750874!2d-121.93639118469511!3d37.327484779843346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcb17beb6f5f5%3A0xadfa0f7696f303d4!2s2039+Forest+Ave+%23105%2C+San+Jose%2C+CA+95128%2C+USA!5e0!3m2!1sen!2s!4v1447309152557"
            width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-map-marker-alt"></i>
        <p class="mb-0"> 2039 Forest Avenue, Suite 105, San Jose, CA, 95128</p>
      </ng-template>

      <div class="p-5 w-100">
          <h3 class="text-success mb-3">FREQUENTLY ASKED QUESTIONS - PEDIATRIC CENTER (ENGLISH)</h3>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 1. What are the clinic hours?</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Our hours continue to expand. Please see the most current information on the back or on our web site.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 2. What do I do for an urgent issue during or after clinic hours?</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>During clinic hours call the Triage number below. If after hours, call the number (based on your
                insurance
                plan) listed on the clinic brochure in this packet. Call 911 for emergencies.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 3. Do you have a Patient Portal where I can communicate with my provider and view lab tests, etc.?
                  </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes we do and we encourage you to use it. Please speak to the front desk to sign up for this service
                included with your care at the Indian Health Center! </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 4. How do I make an appointment? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Please call the clinic number to set up an appointment, or send a message through our Patient Portal.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 5. Do I need an appointment for a blood draw at your laboratory? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> No, you do not, Monday through Friday. Please come in and register and you will be called in by the
                laboratory technician on a first-come, first-served basis. We offer blood draws at our Meridian site. For
                all other sites, please ask your provider. NOTE: Labs on Saturday at Meridian require an appointment. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 6. Do I need an appointment for an immunization (vaccination)? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> No, you do not, and often you can get them during your regular medical appointment. However, our
                walk-in
                immunization times vary, generally 8-11AM and 1-3:30PM Monday through Friday. Please call the clinic
                number
                before coming in to make sure the clinic is open. Bring your immunization records with you. NOTE: there
                is
                no PPD testing placement on Thursday. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 7. Can I request a provider? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, you can and you can change your provider at any time. Talk to a receptionist if you wish to change
                providers. Please be aware that not all of our providers are accepting new or transferring patients. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 8. Do you have providers that specialize in certain areas? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, some of our providers offer pediatric and adult care with different languages. Talk to our
                receptionist if you have a specific need. Our web site also contains more information about our
                providers.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 9. What about new prescriptions and prescription refills? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> You need to see your primary care provider for all new prescriptions. For refills, call the
                prescription
                department at the number below or send a message through our Patient Portal. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 10. What about new referrals and referral follow up? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> You need to see your primary care provider for all new referrals. For referral follow up, call the
                referral department at the number below. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 11. Are you a Patient Centered Medical Home? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Yes, we are proud of our Level 3 (highest level possible) recognition. We put you at the center of your
                care. Please refer to our PCMH brochure for more information. </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6> 12. What do I do about filling out paperwork such as disability, DMV, school forms, etc.? </h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Please allow 3 business days for the completion of any paperwork. All forms are different and may
                require
                a specific exam, documentation or require a visit to complete. If the form is simple you may be able to
                drop it off at the front desk. Please check with your provider’s medical assistant. </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="row m-0">
          <div class="col-md-6 p-5">
            <aside>
                <h3 class="text-success mb-5 text-center"> Services Provided </h3>
  
              <p>Our clinic uses the family practice model of health care. Below is a summarized list of our services,
                and we offer many other services in addition. Please contact the Medical Department for more information.
              </p>
  
              <ul class="timeline">
  
                <li>Pregnancy Testing</li>
                <li>Comprehensive Prenatal Care</li>
                <li>Postpartum care</li>
                <li>Women's Health: pap smears, clinical breast exams, birth control.</li>
                <li>Pediatric and adolescent medicine</li>
                <li>Immunizations</li>
                <li>Adult health: preventative, acute, and chronic care</li>
                <li>Chronic disease prevention and treatment for asthma, hypertension, diabetes and obesity</li>
                <li>STD Testing &amp; Treatment</li>
                <li>Comprehensive geriatric/elder care</li>
                <li>Yearly Work &amp; School Physicals</li>
                <li>Podiatry</li>
                <li>Psychiatry</li>
                <li>On-site lab</li>
                <li>Help Accessing Free or Low Cost Insurance for Children and Adults</li>
                <li>Birth Control</li>
              </ul>
            </aside>
  
          </div>
          <div class="col-md-6 p-5">
            <aside>
                <h3 class="text-success mb-5 text-center">Preparing For Your Visit </h3>
  
              <p><strong>Before Your Appointment:</strong></p>
  
              <ul class="timeline">
  
                <li>Bring all the medicines you take to your appointment. This includes:
                  <ul class="list-unstyled">
  
                    <li>- Prescription medicines.</li>
                    <li>- Non-prescription medicines, such as aspirin or antacids.</li>
                    <li>- Vitamins</li>
                    <li>- Dietary or herbal supplements.</li>
                  </ul>
                </li>
                <li>Write down the questions you have for the visit.</li>
                <li>Know your current medical conditions, past surgeries, and illnesses.</li>
                <li>Bring the name and contact information of your previous primary care provider and any specialists you
                  are currently seeing.</li>
                <li> Bring information on any hospitalizations, specialist’s visits or emergency room visits.</li>
                <li>Bring any immunization records</li>
                <li>Bring ID and Insurance Cards</li>
              </ul>
            </aside>
  
          </div>
        </div>
        <div class="w-100 p-5">
          <h3 class="text-success mb-3">Important Information</h3>
          <table width="100%" class="table table-bordered mat-elevation-z4">
            <tbody>
              <tr>
                <td><strong>Address</strong></td>
                <td><strong>Meridian Main Clinic</strong></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>1333 Meridian Avenue, San Jose, CA 95125<br>
                  (near Meridian &amp; Willow)
                </td>
              </tr>
              <tr>
                <td><strong>Hours of Operation</strong></td>
                <td>M &amp; Fr 8 am - 5 pm T, W, Th, 8 am - 7 pm <br>
                  <strong>Sat: By appointment only</strong>
                </td>
              </tr>
              <tr>
                <td><strong>Main Phone Number</strong></td>
                <td>(408) 445-3400</td>
              </tr>
              <tr>
                <td colspan="2" align="center"><em>If you reach the automated attendant, please dial the extension at any
                    time.</em></td>
              </tr>
              <tr>
                <td><strong>After Hours Medical Information</strong></td>
                <td>(408) 445-3400 <br>
                  Or refer to the number that suits your needs: <br>
                  <strong>Anthem Blue Cross/Medi-Cal:</strong> (800) 224-0336 <br>
                  <strong>Santa Clara Family Health Plan members:</strong> (877) 509-0294 <br>
                  <strong>Valley Care:</strong> (866) 882-6557 <br>
                  <strong>Valley Health Plan:</strong> (866) 682-9492 <br>
                  <strong>Emergency Dental:</strong> (408) 817-1461 then #1
                </td>
              </tr>
              <tr>
                <td><strong>Clinic Manager</strong></td>
                <td>(408) 445-3400 Ext 3690</td>
              </tr>
              <tr>
                <td><strong>Eligibility/New Patient</strong></td>
                <td>(408) 445-3400 Ext 2330, 3470</td>
              </tr>
              <tr>
                <td><strong>Medical Records</strong></td>
                <td>(408) 445-3400 Ext 2040<br>
                  FAX: (408) 266-7567
                </td>
              </tr>
              <tr>
                <td><strong>Prescription Refill Request</strong></td>
                <td>(408) 445-3400 Ext 2980<br>
                  FAX: (408) 266-7567
                </td>
              </tr>
              <tr>
                <td><strong>Medical Appointment Scheduling</strong> <br>
                  (Established Patients)
                </td>
                <td>(408) 445-3400 Ext 2500, 3340 or 2010</td>
              </tr>
              <tr>
                <td><strong>Referrals</strong></td>
                <td>(408) 445-3400 Ext 2580</td>
              </tr>
              <tr>
                <td><strong>Triage</strong></td>
                <td>(408) 445-3400 Ext 2500</td>
              </tr>
              <tr>
                <td><strong>Walk-In Appointment</strong></td>
                <td>(408) 445-3400 Ext 2500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.6344915750874!2d-121.93639118469511!3d37.327484779843346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcb17beb6f5f5%3A0xadfa0f7696f303d4!2s2039+Forest+Ave+%23105%2C+San+Jose%2C+CA+95128%2C+USA!5e0!3m2!1sen!2s!4v1447309152557"
            width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
</div>