<div class="row adbg">
    <div class="row w-100 bg m-0">
  <p class="text-center mx-auto w-100 my-c"><strong>El Centro de Salud Indígena del Departamento Dental de Santa Clara Valley tiene dos oficinas: 2039 Forest Avenue, Suite 204B y 1333 Meridian Avenue.<br><br>
    <!--La oficina de Forest está aceptando nuevos pacientes que tienen 16 años o menos.<br /><br />-->
    La oficina de Meridian sólo está aceptando Pacientes Nuevos que sean Indios Americanos / Nativos de Alaska, embarazadas o niños / adolescentes en este momento.<br><br>
    Si usted es un paciente actual, y le gustaría hacer una cita dental nueva, por favor llámenos al 408-445-3400 extn 2301.
    </strong></p>
    </div>
</div>