<div class="row nbg">
  <h1 class="w-100 text-white p-5">WIC/Nutrition Services</h1>
  <h4 class="text-white pl-5 w-100">Does Your Food Budget Need A Boost? Having Trouble Buying Healthy Foods?</h4>
  <h4 class="text-white pl-5 w-100">WIC Can Help! Call Us Today! <strong> Call 408-960-0900</strong></h4>
  <h4 class="text-white pl-5 w-100 mt-5">Where is WIC?</h4>
  <div class="p-5 col-md-3 text-white">
    1685 Westwood Dr., Suite 4 | San Jose, CA 95125
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.6689129310503!2d-121.91734648469584!3d37.30297997984816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e34b07703338d%3A0x827927ade2e34246!2s1685+Westwood+Dr+%234%2C+San+Jose%2C+CA+95125%2C+USA!5e0!3m2!1sen!2sin!4v1540405061567"
      width="100%" height="350" frameborder="0" style="border:0"  class="my-2"></iframe>
    Monday through Friday 8:00am to 5:00pm <br> Thursday 8:00am to 7:00pm
  </div>
  <div class="p-5 col-md-3 text-white">
    1642 East Capitol Expressway | San Jose, CA 95121
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.5456054384686!2d-121.81276508469583!3d37.30590177984739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e2d7ffd393e09%3A0xfaf4360745cf175!2s1642+E+Capitol+Expy%2C+San+Jose%2C+CA+95121%2C+USA!5e0!3m2!1sen!2sin!4v1540405125765"
      width="100%" height="350" frameborder="0" style="border:0"  class="my-2"></iframe>
    Monday through Friday 8:00am to 4:30pm <br> Thursday 9:30am to 6:30pm
  </div>
  <div class="p-5 col-md-3 text-white">
    327 Moffett Blvd. Suite F | Mountain View, CA 94043
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.6513560380286!2d-122.0773666846931!3d37.398076579829706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb736336133db%3A0xfd2e37607fca8f6c!2s327+Moffett+Blvd+Suite+F%2C+Mountain+View%2C+CA+94043%2C+USA!5e0!3m2!1sen!2sin!4v1540405167317"
      width="100%" height="350" frameborder="0" style="border:0"  class="my-2"></iframe>
    Monday through Friday 8:00am to 4:30pm
  </div>
</div>
<div class="row hebg mt-1">
  <h4 class="text-white pl-5 w-100 mt-5">What is WIC?</h4>
  <strong class="text-white pl-5 w-100 mt-3">Healthy Foods And More!</strong>
  <p class="text-white pl-5 col-md-6 mt-3 lh">• Monthly food checks to buy healthy foods at NO COST to you if you
    qualify.<br>
    • Infant formula for your baby if needed.<br>
    • Tips to help your family eat well and stay healthy.<br>
    • Nutrition classes online.<br>
    • Farmers' Market food checks.<br>
    • Social Service referrals such as Medi-Cal and TANF.<br>
    • Breastfeeding support and supplies.<br>
    • Help in finding medical and dental services.</p>
  <img src="../../../assets/images/healthy_foods_and_more.jpg" width="316" height="221" class="mat-elevation-z8 ml-auto mr-5">
</div>
<div class="row dibg mt-1">
  <h4 class="text-white pl-5 w-100 mt-5">Do I Qualify?</h4>
  <img src="../../../assets/images/do_I_qualify.jpg" width="316" height="221" class="mat-elevation-z8 mr-auto ml-5 mt-5">
  <p class="text-white pr-5 col-md-6 mt-3 lh">
    Did you know working families and those on unemployment may qualify for WIC?
    If you receive Medi-Cal, TANF or SNAP services, you may qualify for WIC.
    Migrant workers also may qualify for WIC and are encouraged to apply.<br>
    
    <strong>You qualify for WIC if you are:</strong><br>
    • Pregnant or recently had a baby.<br>
    • Have an infant or child under the age of five.<br>
    • At or below the income guidelines using this table.<br>
    • Foster parent of a child under the age of five.</p>

</div>
<div class="row mobg mt-1 py-5">
    <img src="../../../assets/images/income_guide_table_2016.jpg" width="735" height="524" class="mat-elevation-z8 m-auto">
    <h2 class="w-100 text-center text-white mt-5">Call 408-960-0900</h2>
    <p class="w-100 text-center text-white"><i>To determine eligibility for the WIC program.<br>
      <strong>Bilingual staff is available if needed for Spanish and Vietnamese speaking clients.</strong><br>
      This institution is an equal opportunity provider.</i></p>
  </div>