.nbg{
    background-image: url("../../../assets/images/nbg.jpg");
    background-repeat: no-repeat;
}
.hebg{
    background-image: url("../../../assets/images/hebg.jpg");
    background-repeat: no-repeat;
}
.dibg{
    background-image: url("../../../assets/images/dibg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.mobg{
    background-image: url("../../../assets/images/mobg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.lh{
    line-height: 2.5rem;
}