<div class="row adbg">
    <div class="row w-100 bg m-0">
  <p class="text-center mx-auto w-100 my-c"><strong>The Indian Health Center of Santa Clara Valley's Dental Department has two offices: 2039 Forest Avenue, Suite 204B and 1333 Meridian Avenue.<br><br>
    
    The Meridian office is only accepting New Patients that are either American Indian/Alaskan Native, pregnant, or children/teens at this time.<br><br>
    If you are a current patient, and you would like to make a new dental appointment, please call us at 408-445-3400 extn 2301.
    <br>
    <br>
    Thank you.</strong></p>
    </div>
</div>