.adbg{
    background-image: url("../../assets/images/abg.jpg");
    background-position: center;
}
.my-c{
margin-top: 13.5rem;
margin-bottom: 13.5rem;
}
.bg {
    background-color: #ffffffd1 !important;
}