<div class="row">
  <div class="container-fluid  dbg pb-5">
    <div class="row">
      <h3 class="p-3 mx-5 mt-5 text-white border-top border-bottom flex-fill">Accreditation</h3>
    </div>
    <div class="row pt-5">
      <div class="card col-2 ml-auto bg-transparent text-center text-white">
        <h4>Title Sponsor</h4>
        <img src="../../../assets/images/ftg.png" class="img-thumbnail mx-auto mt-2" width="161px">
      </div>
      <div class="card col-2 offset-1 bg-transparent text-center text-white">
        <h4>T-Shirt Sponsor</h4>
        <img src="../../../assets/images/b4b.png" class="img-thumbnail mx-auto mt-2" width="127px">
      </div>
      <div class="card col-2 offset-1 bg-transparent text-center text-white">
        <h4>Venue Sponsor</h4>
        <img src="../../../assets/images/el-camino.png" class="img-thumbnail mx-auto mt-2" width="263px">
      </div>
      <div class="card col-2 offset-1 bg-transparent text-center text-white mr-auto">
        <h4>Reception Sponsor</h4>
        <img src="../../../assets/images/quest.png" class="img-thumbnail mx-auto mt-2" width="317px">
      </div>
    </div>
    <div class="row pt-5">
      <div class="card col-2 ml-auto bg-transparent text-center text-white">
        <h4>Dinner Sponsor</h4>
        <img src="../../../assets/images/stanford.png" class="img-thumbnail mx-auto mt-2" width="280px">
      </div>
      <div class="card col-2 offset-1 bg-transparent text-center text-white">
        <h4>Buffalo Sponsors</h4>
        <p>Heritage Bank of Commerce</p>
      </div>
      <div class="card col-2 offset-1 bg-transparent text-center text-white">
        <h4>Hawk Sponsor</h4>
        <p>Central Valley Casework</p>
      </div>
      <div class="card col-2 offset-1 bg-transparent text-center text-white mr-auto">
        <h4>Bear Sponsors</h4>
        <p>Mr. Larry Etkind</p>
      </div>
    </div>
    <div class="row pt-5 text-white">
      <div class="col-12 text-center">
        <h4>Table Sponsors</h4>
      </div>
      <ul class="list-inline mx-auto">
        <li class="list-inline-item">Tetnowski Family </li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Arata Family </li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">cOyate Creations </li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Dr. Paul Protter and Mrs. Liz Hunt </li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">City of San Jose Vice-Mayer Rose Herrera </li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">B.T. Mancini Pacific Coast Fire </li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Mechanical Application Consultants </li>
      </ul>
    </div>
    <div class="row pt-5 text-white pl-2 text-center">
      <div class="col-12 text-center">
        <h4>Silent Auction Sponsors</h4>
      </div>
      <ul class="list-inline mx-auto">
        <li class="list-inline-item">All Natural Day Spa</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Aqui's-Willow Glen</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Bill's Cafe</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Black Oak Casino</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Cache Creek</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Jeff Cherniss</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Chuckchansi Gold Resort &amp; Casino</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">CrepeVine-Willow Glen</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Cucina Bambini</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Details Clothing Company</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Ray Fiddler</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Tomahawk Greyeyes</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Anecita Hernandez</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Mike Liu</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Joey Montoya</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Mooretown Rancheria</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">MUMU Membership-</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">New Museum Los Gatos</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Native TANF</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Randy and Paulette Pico</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Silicon Valley Bank</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Table Mountain Casino</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Mike and Sonya Tetnowski</li>
        <li class="list-inline-item"> | </li>
        <li class="list-inline-item">Special Thanks to Amy Lopez, Michael Andrews, and Michael Duran</li>
      </ul>
    </div>
  </div>
</div>
<hr class="mt-0">