<h3 class="p-3 mx-5 mt-5" style="background-color: #ff8c0070;">Staff Directory</h3>
<div class="row m-0">
  <div class="card col-2 p-3 mt-5 ml-auto">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Sonya Tetnowski</h5>
      <p class="card-text">Chief Executive Officer</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Ira Singh</h5>
      <p class="card-text">Chief Operations Officer</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Anupama Balakrishnan, MD</h5>
      <p class="card-text">Chief Medical Officer</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1 mr-auto">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Jeff Cherniss</h5>
      <p class="card-text">Chief Financial Officer</p>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="card col-2 p-3 mt-5 ml-auto">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Hannah Adams</h5>
      <p class="card-text">Director - Human Resources</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Aldon Wayne Scott</h5>
        <p class="card-text">Director - Operations/Compliance Officer</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Michael Duran</h5>
      <p class="card-text">Director - Counseling</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1 mr-auto">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Calvin Huang</h5>
      <p class="card-text">Director - Information Technology</p>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="card col-2 p-3 mt-5 ml-auto">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Gina Schlocker</h5>
      <p class="card-text">Director - Women-Infants-Children (WIC)</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Manu Chaudhry, DDS</h5>
      <p class="card-text">Director - Dental</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Angelina Speltz</h5>
      <p class="card-text">Director - Community Wellness and Outreach</p>
    </div>
  </div>
  <div class="card col-2 p-3 mt-5 offset-1 mr-auto">
    <i class="fas fa-user-circle text-green m-auto" aria-hidden="true"></i>
    <div class="card-body text-center">
      <h5 class="card-title mb-1">Vernon Medicine Cloud</h5>
      <p class="card-text">Director - Inter Tribal Resource</p>
    </div>
  </div>
</div>
<hr class="mt-5">