<div class="col-12 no-padding app-customer-satisfaction-page">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">Customer Satisfaction Survey</h1>
    <div class="col-12 font-weight-bold lead text-center mb-2">On a recent survey 91.5% of patients reported
      satifaction with their care team at IHCSCV</div>
    <div class="col-12 font-weight-bold lead text-center mb-4">To help us meet our needs, please complete this online
      survey. Your answers will be kept private and anonymous. Thank you for your time.</div>
    <div class="container background-white shadow py-5">
      <mat-form-field class="col-12 col-sm-6">
        <input matInput placeholder="Please provide your age">
      </mat-form-field>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold"> Your Race/Ethinicity</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Asian</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Pacific Isalander</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Black/African American</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">American Indian/Alaska Native</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">White</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Hispanic or Latino</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">For which Service you are taking this survey:</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Medical</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dental</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">CWO</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Counseling</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">WIC</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">For which site you are taking this survey:</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Meridian Sites</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Wellness center</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Silver creek site</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">O'Connor site</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Mountain view site</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding mb-4">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">How many times have you visited the Indian Health center in
            the past 12 months?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Once</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">2-5 times</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">6-10 times</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">10 or more times</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Service options start here -->

      <div class="col-12 borderTop">
        <div class="lead  mt-4 font-weight-bold">Service</div>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">In the last 12 months, when you phoned the IHCSCV to get an appointment
            for care you needed right away, how oftern did you get an appointment as soon as you needed?
          </div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Always</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Usually</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Sometimes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Never</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Are the hours convenient</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Yes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Is the location convenient</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Yes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Are your calls returned on time</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Always</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Usually</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Sometimes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Never</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">How long do you spend in the waiting room</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">0-15 minutes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">15-30 minutes</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">More than 30 minutes</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Is the office clean and neat?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Yes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Provider options start here -->
      <div class="col-12 borderTop">
        <div class="lead  mt-4 font-weight-bold">Provider</div>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Would you recommend your service provider to your family and friends?
          </div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Yes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Somewhat</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">In the last 12 months, how often did the service provider explain things in a way that was easy to understand?
          </div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Always</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Usually</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Sometimes</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Never</mat-radio-button>
        </mat-radio-group>
      </div>
      
      <!-- Staff options start here -->
      <div class="col-12 borderTop">
        <div class="lead  mt-4 font-weight-bold">Staff</div>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">In the last 12 months, how often were the clerks and receptionists at your service provider's office as helpful as you
           thought they should be</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Alwats</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Usually</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Sometimes</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Never</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">How well does he or she listen to you?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Great</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Good</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Ok</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Fair</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Poor</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">How well does he or she answer to your questions?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Great</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Good</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Ok</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Fair</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Poor</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">How would you rate the advice & information you received</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Great</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Ok</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Poor</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Overall options start here -->
      <div class="col-12 borderTop">
        <div class="lead  mt-4 font-weight-bold">Overall</div>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Would you recommend this office to family and friends?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Yes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">How would you rate IHC office?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Great</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Good</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Ok</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Fair</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Poor</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Do you feel your care is well organized?</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Always</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Usually</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Sometimes</mat-radio-button>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Never</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4 no-padding">
        <mat-radio-group>
          <div class="content col-12 mb-3 font-weight-bold">Were your worries and concerns addressed at today's visit</div>
          <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Yes</mat-radio-button>
          <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 mt-4">
        <button class="btn btn-primary">Submit</button>
      </div>

    </div>
  </div>
</div>