@import '~../../../variables.scss';


.app-customer-satisfaction-page{
    font-family: $font;
    .title {
        font-weight: bold;
        font-size: 18px;
    }
    .section1{
        height: auto;
        position: relative;
    }
    .section1:after {
        content:"";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url("../../../assets/images/addressBG.jpg");
        background-repeat: repeat;
       // background-size: cover;
        opacity: 0.1;
    }
}