<div class="col-12 no-padding app-staff">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">Staff Directory</h1>
    <div class="col-12 font-weight-bold lead text-center mb-4">Lorem ipsum text - Neque porro quisquam est qui dolorem
      ipsum quia dolor sit amet, consectetur, adipisci velit </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Sonya
          Tetnowski</div>
        <div class="content">Chief Executive Officer</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Angelina
          Speltz</div>
        <div class="content">Director - Community Wellness and Outreach</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Vernon
          Medicine Clous</div>
        <div class="content">Director - Inter Tribal Resource</div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
          Ira Singh
        </div>
        <div class="content">Chief Operations Officer</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
          Anupama Balakrishnan, MD
        </div>
        <div class="content">Chief Medical Officer</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Jeff
          Cherniss</div>
        <div class="content">Chief Financial Officer</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Hannah
          Adams</div>
        <div class="content">Director - Human Resources</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Aldon
          Wayne Scott</div>
        <div class="content">Director - Operations/Compliance Officer</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Michael
          Duran</div>
        <div class="content">Director - Counselling</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Calvin
          Huang</div>
        <div class="content">Director - Information Technology</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Gina
          Schlocker</div>
        <div class="content">Director - Women Infants Children(WIC)</div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 staff-card text-center">
        <i class="fa fa-user-circle-o m-auto fa-3x text-green" aria-hidden="true"></i><br />
        <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Manu
          Chaudary, DDS</div>
        <div class="content">Director - Dental</div>
      </div>
    </div>

  </div>
</div>