<div class="row gg">
  <h3 class="w-100 p-5 text-center">Counseling Services</h3>
  <div class="col pl-5 ml-5">
    <p>The IHC Counseling Department offers support and guidance to clients and their families, as well as other
      community members, while they work to overcome difficulties that compromise their physical, mental, emotional and
      spiritual health.</p>

    <p>Counseling Department staff encourage individual self-reliance, stronger family connections and harmonious
      fellowship among all living things.</p>

    <p>The Department assists American Indians / Alaskan Natives (AI/AN) and others in improving their health status by
      providing culturally proficient clinical services to adults, children and their families. The Counseling
      Department offers the following services:</p>
    <div class="row mt-5 text-center">
      <div class="alert alert-success col-4 ml-auto  mat-elevation-z8 pt-4" role="alert">
        Mental health counseling
      </div>
      <div class="alert alert-success col-4 offset-2 mr-auto  mat-elevation-z8" role="alert">
        Substance abuse outpatient counseling
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="alert alert-success col-4 ml-auto  mat-elevation-z8 pt-4" role="alert">
        Case management
      </div>
      <div class="alert alert-success col-4 offset-2 mr-auto  mat-elevation-z8 pt-4" role="alert">
        Psychiatry
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="alert alert-success col-4 ml-auto  mat-elevation-z8" role="alert">
        Outreach and support for CalWORKs recipients
      </div>
      <div class="alert alert-success col-4 offset-2 mr-auto  mat-elevation-z8 pt-4" role="alert">
        Referrals and information
      </div>
    </div>
  </div>
  <img src="../../assets/images/mhbg.jpg" class="img-fluid w-50 h-50 my-auto" alt="" />
</div>
<div class="alert alert-success my-4 row mat-elevation-z8 pt-4" role="alert">
  <h5 class="p-2 m-auto text-center">Hours of Operation: Monday – Friday from 8 am to 5:30 pm</h5>
</div>
<div class="row mhbg p-5">
  <div class="mat-elevation-z4 bg-w">
    <h5 class="w-100 text-center mb-3">Traditional Health Program</h5>
    <p>
      The Counseling Department has a Traditional Health Program which involves bringing traditional American Indian
      healers to the community. Healers meet with clients, conduct ceremonies, and train staff on healing methods.
      Regular sweat lodge ceremonies are held as part of this program; ceremonies are open to IHC patients and all
      community members.</p>
  </div>
  <div class="mat-elevation-z4 bg-w mt-4">
    <h5 class="w-100 text-center mb-3">Culturally Appropriate Model for Mental Health Services</h5>
    <p>
      In fiscal year 05-06, staff from the IHC facilitated a community advisory group and developed a model of mental
      health services that is culturally appropriate for the American Indian community. The IHC applied for, and was
      awarded a highly competitive Mental Health Services Act/Proposition 63 county contract to provide these services
      to
      seriously mentally ill AI/AN adults.</p>
  </div>
  <div class="mat-elevation-z4 bg-w mt-4">
    <h5 class="w-100 text-center mb-3">Success Story!</h5>

    <p>Holistic Wellness: Lisa suffered from depression associated with social and cultural isolation. Upon
      reconnecting
      with the American Indian community through the Indian Health Center, she became involved with crafting and
      fitness
      programs.</p>

    <p>Through her engagement in community activities, she gained the self-fulfillment that one gets upon reconnecting
      with ones culture. Lisa acknowledges the Counseling Department and Wellness Center staff for her newly developed
      sense of community engagement.</p>

    <p>"I don't think I would be here today if it weren't for the IHC staff... I am finally becoming the person I've
      always wanted to be." - <strong>Lisa Aguirre</strong></p>
  </div>
</div>
<hr>