<div class="col-12 no-padding app-locations-page">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">Locations</h1>
    <div class="col-12 font-weight-bold lead text-center mb-4">If you call and reach the automated attendant, you may dial an extension at any time.</div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 shadow location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Medical Department - Main clinic at 1333 Meridian Avenue</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            1333 Meridian Avenue <br />
            San Jose, CA, 95125
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3  mt-4">
      <div class="col-12 py-4 shadow  location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Medical Department - Family Health Center at O'Connor Hospital</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            1333 Meridian Avenue <br />
            San Jose, CA, 95125
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 shadow location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Counseling Department - Psychology Clinic and Substance Abuse Services</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            602 East Santa Clara Street, Suite 200 (Second Floor)<br />
            Psychology Clinic: Suite 200<br />
            Sustance Abuse Services: Suite 230<br />
            San Jose, CA 95112
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 shadow  location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Medical Department - Main clinic at 1333 Meridian Avenue</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            1333 Meridian Avenue <br />
            San Jose, CA, 95125
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 shadow  location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Medical Department - Main clinic at 1333 Meridian Avenue</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            1333 Meridian Avenue <br />
            San Jose, CA, 95125
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 shadow  location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Counseling Department - Psychology Clinic and Substance Abuse Services</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            602 East Santa Clara Street, Suite 200 (Second Floor)<br />
            Psychology Clinic: Suite 200<br />
            Sustance Abuse Services: Suite 230<br />
            San Jose, CA 95112
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <div class="col-12 py-4 shadow  location-card">
        <div class="title text-green animated slow" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">Medical Department - Main clinic at 1333 Meridian Avenue</div>
        <div class="content">
          <p>Phone: (408)445-3400 x2500 or x3340</p>
          <p>Fax: (408)266-7567</p>
          <p>Medical record Fax: (408)266-7567</p>
          <a href="javascript:void(0);">
            1333 Meridian Avenue <br />
            San Jose, CA, 95125
          </a>
        </div>
      </div>
    </div>

  </div>
</div>