<div class="col-12 no-padding app-staff">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">IHC's Wish List</h1>
    <div class="col-12 font-weight-bold lead text-center mb-4">Please contact Vernon Medicine Cloud at 408-445-3400 x2080 or by e-mail at 
      <a href="mailto:vmcloud@ihcscv.org" class="text-green" target="_top">vmcloud@ihcscv.org</a>.</div>

    <div class="container shadow mt-4 py-5">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New van for patient transport</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New 8 foot tables</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New 6 foot tables</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New table covers for 8 foot and 6 foot tables</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New folding chairs</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New EZ Up Pop-up Canopies</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New banner stands for marketing</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New price wheel</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New IHC banners</div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
          <div class="col-12 py-4 staff-card text-center">
            <div class="content">New adjustable height desks</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>