<div class="col-12 no-padding app-american-indian-page">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">American Indian Resources</h1>
    <div class="col-12 font-weight-bold lead text-center mb-4">Lorem ipsum text - Neque porro quisquam est qui dolorem
      ipsum quia dolor sit amet, consectetur, adipisci velit
    </div>

    <div class="col-12 offset-md-1 col-md-10 accordion" id="accordionExample">
      <div class="card" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <div class="card-header" id="headingOne">
          <div class="mb-0 lead">
            HIV / AIDS Resources
          </div>
        </div>
        <div id="collapseOne" class="collapse shadow show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Native American AIDS Project
                </div>
                <div class="content">
                  <div>1540 Market St, Ste 425</div>
                  <div>San Fransico, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  National Native American AIDS Prevention Center
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          <div class="mb-0 lead">
            Alcohol and Substance abuse
          </div>
        </div>
        <div id="collapseTwo" class="collapse shadow" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Indian Health Center of Santa Clara Valley, Inc.
                </div>
                <div class="content">
                  <div>Counselling department</div>
                  <div>1333 Meridian Avenue</div>
                  <div>San Jose, CA 95125</div>
                  <div>(415)522-2460 x240</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Three rivers lodge
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Tule River Alcoholism Program
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Turtle Lodge
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  American Indian Family Healing center
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Friendshop house association of American Indians, INC
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingThree">
          <div class="mb-0 lead">
            Community Organizations
          </div>
        </div>
        <div id="collapseThree" class="collapse shadow" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  US Dept of the interior Bureau of Indian Affairs
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  california indian Legal Services
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  American Indian Alliance
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  American Indian center of central california
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  American Indian Resource Institute
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Bay area American Indian Two-Spirits
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Block Native American association
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  Capital Area Indian Resources
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingFour">
          <div class="mb-0 lead">
            Counselling Services
          </div>
        </div>
        <div id="collapseFour" class="collapse shadow" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingFive">
          <div class="mb-0 lead">
            Education
          </div>
        </div>
        <div id="collapseFive" class="collapse shadow" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingsix">
          <div class="mb-0 lead">
            College Level
          </div>
        </div>
        <div id="collapsesix" class="collapse shadow" aria-labelledby="headingsix" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingseven">
          <div class="mb-0 lead">
            Elder's Services
          </div>
        </div>
        <div id="collapseseven" class="collapse shadow" aria-labelledby="headingseven" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingeight">
          <div class="mb-0 lead">
            Foster care
          </div>
        </div>
        <div id="collapseeight" class="collapse shadow" aria-labelledby="headingeight" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingnine">
          <div class="mb-0 lead">
            Health Services
          </div>
        </div>
        <div id="collapsenine" class="collapse shadow" aria-labelledby="headingnine" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="headingTen">
          <div class="mb-0 lead">
            Dental Services
          </div>
        </div>
        <div id="collapseTen" class="collapse shadow" aria-labelledby="headingTen" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="heading11">
          <div class="mb-0 lead">
            Job Training and Employment
          </div>
        </div>
        <div id="collapseEleven" class="collapse shadow" aria-labelledby="heading11" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapseTweleve" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="heading12">
          <div class="mb-0 lead">
            Media/Art
          </div>
        </div>
        <div id="collapseTweleve" class="collapse shadow" aria-labelledby="heading12" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" id="heading13">
          <div class="mb-0 lead">
            Religious Services
          </div>
        </div>
        <div id="collapse13" class="collapse shadow" aria-labelledby="heading13" data-parent="#accordionExample">
          <div class="card-body row">
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-xl-3 mt-4">
              <div class="col-12 py-4 address-card text-center">
                <i class="fa fa-address-card m-auto fa-3x text-green" aria-hidden="true"></i><br />
                <div class="lead font-weight-bold mt-4 text-green animated" inViewport (inViewportAction)="addAnimation($event, 'fadeIn')">
                  IHC Santa Clara
                </div>
                <div class="content">
                  <div>436 14t St, Ste 1020</div>
                  <div>SOakland, CA 94102</div>
                  <div>(415)522-2460</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>