<div class="row bg-dark py-5">
  <div class="col text-white pl-5 ml-5">
    <h2>Funders</h2>
    <p>Funders
      The Indian Health Center of Santa Clara Valley would like to thank all of our generous funders and benefactors.
      Their support and grants helps us complete our work for a healthier Santa Clara County. The great partnerships
      and guidance of these organizations are invaluable. Thank You!</p>
      <ul class="timeline">
          <li>Arthritis Foundation</li>
          <li>Blue Shield of California Foundation</li>
          <li>The California Endowment</li>
          <li>Community Health Partnership</li>
          <li>County of Santa Clara</li>
          <li>Health and Human Services</li>
          <li>The Health Trust</li>
          <li>Human Resources and Services Administration</li>
          <li>Indian Health Service</li>
          <li>Palo Alto Medical Foundation</li>
          <li>State of California</li>
          <li>Sourcewise</li>
          <li>Women-Infants-Children</li>
          </ul>
  </div>
  <img src="../../assets/images/fundersbg.jpg" class="img-fluid w-50 h-50 my-auto" alt="" />

</div>