<div class="row abg pb-5">
  <h3 class="p-3 mx-5 mt-5 bg-white text-success border-top border-bottom w-100">Accreditation</h3>
  <img src="../../../assets/images/aaahclogo.jpg" alt="" class="mx-auto my-5">
  <div class="w-100 mx-5 p-4 bg-white">

    <p>The Indian Health Center of Santa Clara Valley is an accredited clinic, certified by the <strong>Accreditation
        Association for Ambulatory Health Care (AAAHC)</strong>, a national group that surveys and certifies clinics
      that meet national standards of care. The IHC has been accredited for over 10 years, and it is the <u>only</u>
      community health clinic in the area that is accredited.</p>

    <p>In 2013, the Indian Health Center was also certified as <strong>Patient Centered Health Home</strong> by the
      Accreditation Association for Ambulatory Health Care (AAAHC). Meaning, the IHC’s level of care meets and
      surpasses national standards for care. The AAAHC Medical Home accreditation is the highest achievement for
      primary care, as it centers on a comprehensive review of the entire organization assuring that our patients
      receive high-quality care consistent with AAAHC Standards for the ideal Medical Home model.</p>

    <p><strong>The Accreditation Association for Ambulatory Health Care (AAAHC)</strong>, founded in 1979, is the
      leader in ambulatory health care accreditation with nearly 5,400 organizations accredited nationwide. AAAHC
      accredits a variety of ambulatory health care organizations, including ambulatory surgery centers, office-based
      surgery centers, college student health centers, health plans/managed care organizations, military health care
      clinics, large medical and dental practices and medical homes. In 2010, AAAHC launched an international
      accreditation. AAAHC serves as an advocate for the provision of high-quality health care through the development
      of nationally recognized standards and through its survey and accreditation programs. AAAHC accreditation is
      recognized as a symbol of quality by third-party payers, medical organizations, liability insurance companies,
      state and federal agencies and the public. For more information visit <a href="http://www.aaahc.org" target="_blank">www.aaahc.org</a>.</p>


  </div>
</div>
<hr class="mt-0">