<div class="row pt-2 pb-4 hbg pl-3">
  <h3 class="p-3 mx-1 mt-1 w-100 mr-3" style="background-color: #ff8c0070;">Collaborative Partners</h3>
  <div class="row m-0 ml-3">
    <div class="col-md-7 row" style="background-color: rgba(255, 255, 255, 0.9);">
      <h6 class="w-100 mt-2">The Indian Health Center of Santa Clara Valley would like to thank all of its
        collaborators who help make fulfilling our mission a success! We could not continue our great work without the
        assistance and partnership of these great organizations and the individuals that create them. We humbly applaud
        them, and encourage you to visit their website and learn about their programs.</h6>
      <ul class="timeline">
          <li>Accreditation Association for Ambulatory Health Care</li>
          <li>American Diabetes Association</li>
          <li>American Health Association</li>
          <li>American Indian Alliance</li>
          <li>Arthritis Foundation</li>
          <li>Better Business Bureau</li>
          <li>Breathe California</li>
          <li>California Council on Urban Indian Health</li>
          <li>California Primary Care Association</li>
          <li>Center for Training and Careers</li>
          <li>Community Health Partnership</li>
          <li>First Nations Indian Council</li>
          <li>Health Resources and Services Administration</li>
          <li>International Business Machines</li>
          <li>Muwekma Ohlone Tribe of the San Francisco Bay Area</li>
          <li>National Association of Community Health Centers</li>
          <li>National Council on Urban Indian Health</li>
          <li>National Indian Health Board</li>
          <li>Native TANF - Santa Clara County</li>
          <li>O'Connor Hospital</li>
          <li>San Jose State University</li>
          <li>Santa Clara Valley Health &amp; Hospital System</li>
          <li>Silicon Valley Chamber of Commerce</li>
          <li>Stanford University</li>
          <li>Urban Indian Health Institute</li>
          <li>Walgreens Stores</li>
      </ul>
    </div>
    <div class="text-right box-shadow d-none d-md-block col-md-5 icont">
      <img src="../../../assets/images/sponsor_1.png" alt="">
      <img src="../../../assets/images/sponsor_2.png" alt="">
      <img src="../../../assets/images/sponsor_3.png" alt=""><br>
      <img src="../../../assets/images/sponsor_4.png" alt="">
      <img src="../../../assets/images/sponsor_5.png" alt=""><br>
      <img src="../../../assets/images/sponsor_6.jpg" alt="">
    </div>
  </div>
</div>