<div class="row gg">
  <h3 class="w-100 p-5 text-center">Dental Services</h3>
  <div class="col pl-5 ml-5">
    <h5 style="font-weight:100; line-height: 30px;" class="w-100"><a href="https://www.google.com/maps/place/1333+Meridian+Ave,+San+Jose,+CA+95125/@37.3017615,-121.9162569,17z/data=!3m1!4b1!4m5!3m4!1s0x808e34bac659d531:0x530f19e9d0c65eea!8m2!3d37.3017615!4d-121.9140682"
        target="_blank">Meridian Main Clinic: 1333 Meridian Ave. San Jose 95125</a><br>
      Ph: (408) 445-3400 x2300 | Fax: 408-979-9570</h5>

    <h5 class="w-100 text-center mt-5">Hours of Operation</h5>
    <div class="row mt-5 text-center">
      <div class="alert alert-success mat-elevation-z8 pt-4 row text-center w-100" role="alert">
        <p class="w-auto mx-3 ml-auto"><strong>Monday &amp; Wednesday</strong><br>
          8:00 A.M. - 6:00 P.M.</p>
        <p class="w-auto mx-3"><strong>Tuesday &amp; Thursday</strong><br>
          8:00 A.M. - 6:30 P.M.</p>
        <p class="w-auto mx-3"><strong>Friday</strong><br>
          8:00 A.M. - 5:00 P.M.</p>
        <p class="w-auto mx-auto mr-auto"><strong>Saturday</strong><br>
          (appointments ONLY) 8:00 A.M. - 2:00 P.M.</p>
      </div>
    </div>
  </div>
  <img src="../../../assets/images/dbg.jpg" class="img-fluid w-25 my-auto mx-5" alt="" />
</div>
<div class="alert alert-success my-4 row mat-elevation-z8 pt-4" role="alert">
    <h4 style="font-weight:100; line-height: 30px;"><a href="https://www.google.com/maps/place/2039+Forest+Ave+%23204b,+San+Jose,+CA+95128/@37.3274848,-121.9363912,17z/data=!3m1!4b1!4m5!3m4!1s0x808fcb17beb6f5f5:0xe4566fc8bf176130!8m2!3d37.3274848!4d-121.9342025" target="_blank">Forest Dental Office: 2039 Forest Ave. Suite 204B<br> San Jose, CA 95128</a> <br>
      Ph: (408) 960-7200 | Fax: 408-294-2392</h4>
      
      <h6>Hours of Operation</h6>
      
           <p><strong>Monday - Friday</strong><br>
              9:00 A.M. - 5:00 P.M.</p>
          
          <p><strong>Closed Thursdays</strong></p> 
          
</div>
<div class="row mhbg p-5">
  <div class="mat-elevation-z4 bg-w">
    <h5 class="w-100 text-center mb-3">Traditional Health Program</h5>
    <p>
      The Counseling Department has a Traditional Health Program which involves bringing traditional American Indian
      healers to the community. Healers meet with clients, conduct ceremonies, and train staff on healing methods.
      Regular sweat lodge ceremonies are held as part of this program; ceremonies are open to IHC patients and all
      community members.</p>
  </div>
  <div class="mat-elevation-z4 bg-w mt-4">
    <h5 class="w-100 text-center mb-3">Culturally Appropriate Model for Mental Health Services</h5>
    <p>
      In fiscal year 05-06, staff from the IHC facilitated a community advisory group and developed a model of mental
      health services that is culturally appropriate for the American Indian community. The IHC applied for, and was
      awarded a highly competitive Mental Health Services Act/Proposition 63 county contract to provide these services
      to
      seriously mentally ill AI/AN adults.</p>
  </div>
  <div class="mat-elevation-z4 bg-w mt-4">
    <h5 class="w-100 text-center mb-3">Success Story!</h5>

    <p>Holistic Wellness: Lisa suffered from depression associated with social and cultural isolation. Upon
      reconnecting
      with the American Indian community through the Indian Health Center, she became involved with crafting and
      fitness
      programs.</p>

    <p>Through her engagement in community activities, she gained the self-fulfillment that one gets upon reconnecting
      with ones culture. Lisa acknowledges the Counseling Department and Wellness Center staff for her newly developed
      sense of community engagement.</p>

    <p>"I don't think I would be here today if it weren't for the IHC staff... I am finally becoming the person I've
      always wanted to be." - <strong>Lisa Aguirre</strong></p>
  </div>
</div>
<hr>