h3, h5, a{
    color: #2E6021 !important;
}
.dentalbg{
    background-image: url("../../../assets/images/dentalbg.jpg");
    
}
.gg .alert-success{
    min-height: 75px;
    color: #ffffff;
    background-color: #1c8600ba;
    border-color: #1c8600;
}
.bg-w{
    background-color: #ffffffe8;
    padding: 1rem;
}
.bg{
    background-color: #ffffff7a;
}
.mhbg{
    background-color: #1c8600;
}