<div class="row hibg">
  <h1 class="text-center p-5 text-green w-100 bg">HIPAA</h1>
  <div class="row m-0">
    <img src="../../../assets/images/HIPAA-square-logo.png" class="ml-auto col-md-5">
    <div class="m-auto col-md-6 bg pt-3">
      <a href="../../../assets/pdf/NOTICE_OF_PRIVACY_HIPPA.pdf" target="_blank" class="h4 btn-link">HIPPA NOTICE OF
        PRIVACY PRACTICES FOR
        PATIENTS</a>
      <p>This notice describes how medical information about you may be used and disclosed, and how you can get access
        to
        this information. <strong>Please review it carefully</strong>.</p>
    </div>
  </div>
</div>