<div class="col-12 no-padding app-faq">
  <div class="row pt-5 pb-5 section1">
    <h1 class="col-12 app-h1 text-center text-green animated tada slow">Frequently asked question</h1>
    <div class="col-12 font-weight-bold lead text-center mb-4">Lorem ipsum text - Neque porro quisquam est qui dolorem
      ipsum quia dolor sit amet, consectetur, adipisci velit
    </div>

    <div class="container p-3 contentBlock mt-2">
        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq1">
              <label class="font-weight-bold flex-fill">Q. What is the Indian Health Center?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq1">
              <span class="answer content">The Indian Health Center (IHC) is a Non-Profit Community Health Clinic, Patient Centered Health Home Medical Clinic, and Wellness Center for all who live in Santa Clara County. We provide Medical Care, Dental Care, WIC Services, Counseling and Mental Health Service, and additionally we support our Santa Clara County Community through our Community Wellness and Outreach Department. Please visit our departments' pages to learn more about the services they provide, and visit our locations to learn more!</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq2">
              <label class="font-weight-bold">Q. Do I have to be Native American/American Indian to be a patient at the Indian Health Center?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq2">
              <span class="answer content">No. The IHC provides service to peoples of all ethnicities and races.</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq3">
              <label class="font-weight-bold">Q. Do I need insurance to be seen at the Indian Health Center Medical Clinic?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq3">
              <span class="answer content">
                  No. You do not need health insurance to be seen at the Indian Health Center. However we do take Medi-Cal and some other insurances.
                  <p>The Indian Health Center does provides Low-Cost, Sliding Scale Healthcare services based on your income level. The IHC can also help you find health coverage through Covered California. And, if you are an American Indian you may be eligible to enroll in our Ross Gritts program to help with the costs of medical or dental care.</p>
              </span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq4">
              <label class="font-weight-bold">Q. Are there American Indian Doctors at the Indian Health Center?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq4">
              <span class="answer content">There are currently no American Indian Physicians at the Indian health center. However, we do have American Indian counselors and staff to help you navigate our care and health home.</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq5">
              <label class="font-weight-bold">Q. Does the Indian Health Center provide Holistic Healing Services?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq5">
              <span class="answer content">The Indian Health Center does provide some holistic healing services. Please visit our CWO and Counseling Departments to learn more about what non-western medicinal services we provide.</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq6">
              <label class="font-weight-bold">Q. Does the Indian Health Center provide Traditional American Indian Healing Services?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq6">
              <span class="answer content">The Indian Health Center does provide some traditional healing services. Please contact our counseling department for more information.</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq7">
              <label class="font-weight-bold">Q. What type of services does the Indian Health Center provide?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq7">
              <span class="answer content">The IHC Provides a wide array of health care services. As a Patient Centered Health Home, we are our patients' "home" for all their medical needs. From our Medical Site, we provide great primary medical care with the help of our physicians and their assistants, who can refer our patients to our Dental Department for general dental needs, to outside specialists if needed, to WIC for family care, nutrition and development, and to our Wellness Center for Counseling, youth programming, elder care, and Diabetes prevention and management. We are an integrated community health care clinic here to serve you!</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq8">
              <label class="font-weight-bold">Q. Does the Indian Health Center provide health insurance?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq8">
              <span class="answer content">No. The IHC does not provide health care insurance. However, we can help you enroll in Covered California. And, if you are an American Indian, you may be eligible to enroll in our Ross Gritts program which can help pay for you healthcare costs.</span>
            </div>
        </div>

        <div class="faq-block py-4 borderBottom">
            <div class="title" data-toggle="collapse" data-target="#faq9">
              <label class="font-weight-bold">Q. What are the benefits of coming to the Indian Health Center?</label>
              <span class="pull-right text-green fas fa-plus"></span>
            </div>
            <div class="collapse pt-2" id="faq9">
              <span class="answer content">The Indian Health Center has a long-standing tradition of providing great service, in a welcoming environment. When you come to the IHC, you are embraced with the kindness and generosity that is traditional to our American Indian Heritage. With all the services we provide, and being so well connected to the Silicon Valley Community, we can help you thrive in health and wellness, in one circle of trust, friendship, and wellness.</span>
            </div>
        </div>
    </div>
  </div>
</div>