<div class="row">
  <div class="ibg">
  <h1 class="p-5 w-100 text-green text-center">Board Of Directors</h1>
  <p class="px-5 pt-3">The Indian Health Center of Santa Clara Valley is a 501(c)(3) nonprofit, charitable organization
    and is governed
    by a Board of Directors. The Directors are members of the Native American community and hold various roles in their
    lives from homemakers, business owners, lawyers, and physicians among other things...
  </p>
  <p class="px-5">Board Meetings are held every 4th Wednesday of the Month, at 6:30pm, and are located at 1211 Meridian
    Ave. San
    Jose, CA 95125.</p>
  
  <div class="alert alert-success mx-5  mat-elevation-z8 mt-5 text-center"><a class="button" href="pdf/by_laws.pdf" target="_blank">
      <h3>Indian Health Center of Santa Clara Valley - By Laws</h3>
    </a>

    <h6 class="pt-3"><strong>Copies of the IHC bylaws will be available in the Administration Department
        for all community members who wish to have a copy.</strong></h6>
  </div>
</div>
  <h4 class="pl-5 pt-5">Please take a moment to meet our Directors:</h4>
  <div class="how-section1">
    <div class="row pt-5">
      <div class="col-md-2 how-img">
        <img src="../../assets/images/pablo_diego_viramontes.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-10">
        <h4>Pablo Diego Viramontes (Nha Nhu-Otomi)</h4>
        <h4 class="subheading">President</h4>
        <p class="text-muted">Pablo joined IHC's Board in August 2005. He is a master artist and craftsman and a
          graduate
          of San Jose State University. He holds master's and bachelor's degrees from San Jose State University, and
          has
          a 35 year record of teaching in the Santa Clara County office of the Education Alternative School. Now
          retired,
          he is very involved in the 500 mile run, which he has actively supported for the last 34 years. For the run,
          he
          is a spiritual leader and caretaker of the drum. He is a supporter of the Bear dance and Sun Dance and other
          ceremonial events in the San Jose area, and is nationally and regionally recognized for his visual art work.
          He
          has three children, all of whom are adults, and currently has 3 beautiful grandchildren.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h4>Chris Mele, M.D. (Seneca)</h4>
        <h4 class="subheading">Vice President</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget faucibus metus.
          Pellentesque scelerisque sollicitudin tortor, et sollicitudin neque pharetra at. Donec id tortor risus. Donec
          varius nunc mollis sagittis efficitur. Quisque ut turpis vel justo tempor suscipit vel at ipsum. Curabitur
          vestibulum at nisl nec imperdiet. Ut finibus urna a mi congue ornare. In eu pretium elit, non vehicula
          mauris.
          Sed libero eros, varius vitae vestibulum eu, lobortis nec neque. Cras lacinia sagittis tempor. Integer
          interdum
          posuere bibendum. Duis in lacinia dui. Pellentesque ullamcorper tincidunt lacus, nec auctor libero facilisis
          in.</p>
      </div>
      <div class="col-md-2 how-img">
        <img src="../../assets/images/place_holder.jpg" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 how-img">
        <img src="../../assets/images/mike_lui.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-10">
        <h4>Mike Liu (Navajo)</h4>
        <h4 class="subheading">Treasurer</h4>
        <p class="text-muted">Mr. Liu has over 13 years experience in Safety and Mission Assurance, serving as Director
          of Safety and Mission Assurance, Deputy Director of Safety and Mission Assurance, Associate Director of
          Safety
          and Mission Assurance, Chief Safety and Mission Assurance Officer, Software Assurance and Quality for Flight
          and Spacecraft projects for an Agency of the Federal Government. Mr. Liu has over 25 years experience in Data
          Acquisition and Instrumentation Systems for aerospace testing facilities as Deputy Branch Chief, Development
          Group Leader, Project Manager, and Task Manager.</p>


        <p class="text-muted">Mr. Liu's cultural background is Navajo, English, Irish, and German. Mr. Liu is born for
          the Many Goats Clan. Mr. Liu was born in Salt Lake City, Utah and grew up in Oregon, Washington, and
          California. Mr. Liu was growing up during the early days when the United States was sending Astronauts into
          space, when Mr. Liu was 5 years old he wanted to work in the Aerospace field and be an Astronaut. Mr. Liu
          developed an interest in Astronomy as he was growing up. Mr. Liu attended De Anza College and transferred to
          the University of California at Berkeley where he received a Bachelor's degree in Astronomy in 1981.</p>

        <p class="text-muted">Mr. Liu is a Sequoyah Fellow of the American Indian Science and Engineering Society
          (AISES)
          and is a lifetime member of AISES. Mr. Liu served as the President of the California AISES Professional
          Chapter
          from 1998 - 2006.</p>

        <p class="text-muted">Mr. Liu became a member of the Kiwanis International Organization in 2007. Mr. Liu served
          as President of the Kiwanis Club of De Anza from 2013-2014. Mr. Liu currently serves on the Board of
          Directors
          of the Kiwanis Club of De Anza.</p>

        <p class="text-muted">Mr. Liu currently serves on the board of the Indian Health Center of Santa Clara Valley
          and
          has been a board member since June, 2016.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h4>Paulette Pico (Navajo)</h4>
        <h4 class="subheading">Secretary</h4>
        <p class="text-muted">Paulette Thomas Pico (Navajo Nation) Dziłtł'ahnii (Mountain Cove Clan) and born for
          Naasht'ézhí Dine'é (Zuni Clan), Maternal Grandfather's clan - Tsé Nahabiłnii (Sleep-Rock People Clan) and
          Paternal Grandfather's clan - Tó'aheedlíinii (Water-Flows-Together Clan)</p>

        <p class="text-muted">Paulette Thomas Pico's grandfather was a well-known stone mason. As a Foreman, he
          provided
          engineering oversight to several identified historical buildings around the Crownpoint, New Mexico area where
          she was born and raised. Paulette is carrying on the family tradition by working as a Principal System
          Engineer
          with Roche Molecular Systems. As a student studying biology and chemistry, she thought about going to medical
          school and interned at hospitals for several years. Like her parents she wanted to contribute to the
          community
          through public service. Working in hospitals while pursuing multiple degrees in biology and chemistry
          provided
          her with a unique perspective on how technology impacts healthcare. Upon graduation, she worked at the
          Lawrence
          Livermore National Laboratory in support of the Human Genome Project becoming a group leader in the
          sequencing
          team. With over 20 years of experience, including the last 16 years working at Roche, she has contributed in
          the development of multiple medical device systems that test for viruses such as HIV, West Nile Virus,
          different Hepatitis strains, etc. in support of blood diagnostics and research. Paulette's work and
          experiences
          help her better understand how technology helps an individual's health and well-being. As a product of
          boarding
          schools, she felt the effect of health inequalities among native populations and the struggles of reservation
          life. Paulette has always had an interest in healthcare when it comes to helping indigenous peoples of the
          Americas. She hopes to one day return to the reservation to help create and manage a state of the art health
          care facility in her community where she believes public health services must blend technology, cultural
          sensitivity and spirituality. While being advocates for educating community members in areas of wellness by
          being a valued resource for the community.</p>

        <p class="text-muted">Paulette is a graduate of the University of New Mexico with degrees in biology and
          chemistry. She is a Sequoyah Fellow of the American Indian Science and Engineering Society (AISES) and a
          member
          of the Society for Advancement of Chicanos/Hispanics and Native Americans in Science (SACNAS). Paulette and
          her
          family actively participate in community events which promote diversity and cultural awareness such as
          Interfaith events, school events, American Indian gatherings while being a parent to three. Paulette joined
          the
          board in July of 2016 and proudly serves as the Secretary.</p>
      </div>
      <div class="col-md-2 how-img">
        <img src="../../assets/images/paulette-pico.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-2 how-img">
        <img src="../../assets/images/cheryl_marsden.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-10">
        <h4>Cheryl Marsden (Tlingit-Haida-Tsimpsian)</h4>
        <h4 class="subheading">Member</h4>
        <p class="text-muted">Cheryl has been on the Board since April 2006. She is a member of the IHC's Diabetes
          Community Advisory Committee (DCAC) and has been involved with the Committee's efforts to reach out and
          educate
          the community about diabetes. She is also a Patient Advocate in the Community Health Partnership's Patient
          Advocacy Program that trains clients how to speak to legislators and other officials about the need for
          health
          care services. Cheryl has volunteered at many IHC events over the years. Cheryl has been the Recording
          Secretary and Vice President of the Tlingit/Haida San Francisco Central Council and is an enrolled member.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h4>Amy Lopez (Choctaw)</h4>
        <h4 class="subheading">Member</h4>
        <p class="text-muted">Amy joined the IHC Board in 2013. Amy is a well-rounded person who has had experience and
          expertise in banking, bookkeeping, and financial aid for Native American higher education. She is an enrolled
          member of the Mississippi Choctaw tribe of Oklahoma. She is also a fourth generation Mexican - American. She
          is
          very proud of her heritage. Amy has general interest in health and well-being of Native communities. She
          believes that having the opportunity to serve on the Board will not only allow her to lend her expertise and
          knowledge while giving back to her community, but also help her acquire leadership skills needed for success.</p>
      </div>
      <div class="col-md-2 how-img">
        <img src="../../assets/images/amy.jpg" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 how-img">
        <img src="../../assets/images/gerardo-loera.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-10">
        <h4>Gerardo Loera</h4>
        <h4 class="subheading">Member</h4>
        <p class="text-muted">Gerardo joined the IHC Board of Directors, in September of 2017. He was born in Santa
          Cruz,
          CA to Molly Lucero Munoz (Pueblo - Roswell, NM) and Juan Loera (Pame - Aramberri, Nuevo Leon, MX). Being
          raised
          in San Jose, Gerardo has been serving the urban-indigenous community for over twenty-years, personally and
          professionally. He currently serves as the Program Coordinator for the Washoe Tribe of NV & CA Native TANF
          Program. In this role, he develops, implements and oversees programming in both Santa Clara and Santa Cruz
          counties. In addition, he brings years of expertise as a mental health professional working with youth and
          families, throughout Santa Clara County. Gerardo and his wife are keepers of tradition and ceremony, within
          their respective communities; they are passionate about living life with the intention of healing generations
          of the past-present-and-future, starting with themselves. Gerardo hopes that his cultural collateral,
          professional experience and long-standing connection to community will be an asset to the IHC Board of
          Directors and the community it serves.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h4>Bryan Curtis (Navajo)</h4>
        <h4 class="subheading">Member</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget faucibus metus.
          Pellentesque scelerisque sollicitudin tortor, et sollicitudin neque pharetra at. Donec id tortor risus. Donec
          varius nunc mollis sagittis efficitur. Quisque ut turpis vel justo tempor suscipit vel at ipsum. Curabitur
          vestibulum at nisl nec imperdiet. Ut finibus urna a mi congue ornare. In eu pretium elit, non vehicula
          mauris.
          Sed libero eros, varius vitae vestibulum eu, lobortis nec neque. Cras lacinia sagittis tempor. Integer
          interdum
          posuere bibendum. Duis in lacinia dui. Pellentesque ullamcorper tincidunt lacus, nec auctor libero facilisis
          in.</p>
      </div>
      <div class="col-md-2 how-img">
        <img src="../../assets/images/place_holder.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>