/* You can add global styles to this file, and also import other style files */
@import '~./variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: myFont;
    src: url('./assets/Lato/Lato-Regular.ttf') format('truetype');
}

body {
    font-family: myFont !important;
}

.no-padding {
    padding: 0 !important;
}

.relative{
    position: realtive;
}

a.app-link{
    color: #2E6021 !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

a.app-link:hover{
    text-decoration: none !important;
    background: none !important;
    border-bottom: 2px solid #2E6021;
}

.background-lite{
    background: $bgGray !important;
}

.app-h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: $transform;
}

.medium-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.content {
    font-size: $contentfont !important;
    p {
        margin-top: 10px;
    }
}

.padding-l35 {
    padding-left: 35px !important;
}

.margin-t30{
    margin-top: 30px;
}

.margin-t20{
    margin-top: 20px;
}

.parent-flex {
    display: flex;
}

.child-flex{
    flex: 1;
}

.text-justify{
    text-align: justify !important;
}

.text-green {
    color: $green !important;
}

.margin-t10 {
    margin-top: 10px !important;
}

.borderBottom {
    border-bottom: 1px solid $gray;
}

.borderTop {
    border-top: 1px solid $gray;
}
