<div class="col-12 no-padding app-home-page">
    <div class="section1 col-12 no-padding">
        <div class="row m-0">
            <div class="welcome-card col-12 col-sm-7">
                <div class="title">Welcome to IHC</div>
                <div class="content">
                    <p>The Indian Health Center of Santa Clara Valley is located in San Jose, California and is a 501(c)3, non-profit, Urban Indian Health Center funded by the Indian Health Service and a 330 Federally Qualified Health Center funded by the Bureau of Primary Health Care.</p>
                    <p>IHC provides high quality, culturally competent medical and wellness services to American Indians/Alaska Natives and people from all walks of life, regardless of race, ethnicity, religion, gender, sexual orientation, or disability. We serve infants to elders and take pride in serving our diverse patients and clients!</p>
                    <p>If you are low-income, have no health insurance, or can't use your health insurance because of cost, we have a variety of programs that can help you in paying for health services. We can also help you in enrolling in the state Medi-Cal and other health coverage programs.</p>
                    <p>Call us today to find out more information and set up an appointment: (408) 445-3400.</p>
                </div>
            </div>
            <div class="col-sm-4 col-12 pull-right text-right sponsor-card">
                <img src="/src/assets/images/sponsor_1.png"/>
                <img src="/src/assets/images/sponsor_2.png"/>
                <img src="/src/assets/images/sponsor_3.png"/>
                <img src="/src/assets/images/sponsor_4.png"/>
                <img src="/src/assets/images/sponsor_5.png"/>
            </div>
        </div>
    </div>

    <div class="section2 col-12 text-center background-lite">
        <h1 class="app-h1 col-12">Services We Provide</h1>
        <div class="col-12 no-padding margin-t30 parent-flex">
            <div class="col-xs-4 col-md-2 child-flex">
                <div class="col-12 service-card">
                    <div class="title">Medical</div>
                    <img class="image img-responsive" src="/src/assets/images/services_1.jpg" />
                </div>
            </div>

            <div class="col-xs-4 col-md-2 child-flex">
                <div class="col-12 service-card">
                    <div class="title">Dental</div>
                    <img class="image img-responsive" src="/src/assets/images/services_2.jpg" />
                </div>
            </div>

            <div class="col-xs-4 col-md-2 child-flex">
                <div class="col-12 service-card">
                    <div class="title">Counseling</div>
                    <img class="image img-responsive" src="/src/assets/images/services_3.jpg" />
                </div>
            </div>

            <div class="col-xs-4 col-md-2 child-flex">
                <div class="col-12 service-card">
                    <div class="title">WIC/Nutrition</div>
                    <img class="image img-responsive" src="/src/assets/images/services_4.jpg" />
                </div>
            </div>

            <div class="col-xs-4 col-md-2 child-flex">
                <div class="col-12 service-card">
                    <div class="title">Community Wellness & Organization</div>
                    <img class="image img-responsive" src="/src/assets/images/services_5.jpg" />
                </div>
            </div>

            <div class="col-xs-4 col-md-2 child-flex">
                <div class="col-12 service-card">
                    <div class="title">Find Health Coverage</div>
                    <img class="image img-responsive" src="/src/assets/images/services_6.jpg" />
                </div>
            </div>

        </div>
    </div>

    <div class="section3 col-12 text-center">
        <h1 class="app-h1 col-12">Healthcare News</h1>
        <a href="#" class="title-link col-12">Culture is Prevention for our Future Generations</a>
        <div class="content container">
            <p>The Indian Health Center's Counseling Department is working to improve mental health outcomes for American Indian/Alaskan Native youth in Santa Clara County by providing them cultural and traditional education services. The Surgeon General’s 2001 report on Mental Health: Culture, Race and Ethnicity stressed the essential importance of culture in designing behavioral programs and the value of community-based programs as an alternative to the psychiatric model. Youth donation with help promote mental wellness for these youth.</p>
            <p class="margin-t20">San Jose Native Youth Empowerment Program</p>
            <p class="margin-t20">The SJNYEP is comprised of Native youth ages 10-17yrs. This program incorporates Native American values in case management, peer support, cultural education, community connection and leadership opportunities to build effective social skills.. </p>
        </div>
    </div>

    <div class="section4 col-12 text-center background-lite">
        <h1 class="app-h1 col-12">IHC News</h1>
        <div class="container no-padding">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="col-12 margin-t20 service-card">
                        <div class="title">IHC Mini Powwow</div>
                        <div class="content">
                            <p>Tuesday, October 2, 2018</p>
                            <p>Time 5:00PM - 9:00PM</p>
                            <p>Roosevelt Community Center</p>
                            <p>901 E, Santa Clara St, San Jose, CA 95116</p>
                        </div>
                    </div>
                    <div class="col-12 margin-t20 service-card">
                        <div class="title">IHC By Laws</div>
                        <a href="#" class="title-link">Click here to get the Flyer</a>
                    </div>
                    <div class="col-12 margin-t20 service-card">
                        <div class="title">IHC Board Application</div>
                        <a href="#" class="title-link">Click here to get the official Candidate Application for Membership to the Board of Directors</a>
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="col-12 service-card margin-t20">
                        <div class="title">IHC Phone Numbers</div>
                        <a href="#" class="title-link">Indian Health Center of Santa Clara has new Direct Phone numbers</a>
                        <div class="content margin-t30 text-left">
                            <table class="table table-bordered">
                                <tr><td>Medical Meridian/Silver creek appointment line</td> <td><a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Medical Meridian eligibility </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Dental Meridian </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Dental Forest </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Medical Pediatrics Clinic </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Counselling 14th St Family resource center </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Medical Silver Creek - General information </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Counselling 14th St Adult Mental Health </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>Counselling East Santa Clara st </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>IHC agency operator </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                                <tr><td>IHC Billing Department </td><td> <a href="#" class="app-link">(408)960-0660</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>