<div class="row no-padding app-medical">
    <div class="col-12 py-5 section1">
      <div class="container mt-3 px-auto py-5 shadow-lg appointment-container">
        <h1 class="app-h1 col-12 text-center text-green animated slideInDown slow">Bienvenido a La Clínica IHC</h1>
        <h4 class="col-12 text-center text-green pt-1"></h4>
        <div class="mb-3 col-12 mt-4">
          <span class="content font-weight-bold">Las citas médicas por internet son pAra pacientes ESTABLECIDOS. &nbsp;</span>
          <span class="small">(Pacientes establecidos son todos aquellos que han sido vistos por alguno de nuestros doctores o enfermeras.)</span>
        </div>
        <div class="w-100">
          <mat-form-field class="col-12 col-sm-6">
            <input matInput placeholder="Nombre">
          </mat-form-field>
        
          <mat-form-field class="col-12 col-sm-6">
            <input matInput placeholder="Apellido">
          </mat-form-field>
  
          <mat-form-field class="col-12 col-sm-6">
              <input matInput type="date" placeholder="Fecha De Nacimiento">
          </mat-form-field>
  
          <mat-form-field class="col-12 col-sm-6">
              <input matInput type="tel" placeholder="Teléfono">
          </mat-form-field>
  
          <mat-form-field class="col-12 col-sm-6">
              <input matInput type="email" placeholder="Correo Electrónico">
          </mat-form-field>
          <br/><br/>
          <mat-radio-group class="col-12 mt-4">
              <div class="content col-12 mb-4 font-weight-bold"> ¿Quién es su doctor? </div>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Gerald Bausek:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Zaha Husaini:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Aderonke Ojo:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Charlene Saberon:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Kavitha Chidambaram:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Tammy Hwang, FNP:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Susan Campbell:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Sonya Lobana:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Julie Priest:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Prisila Gonzalez:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Arunasri Kelleti:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Jamie Saxena, FNP:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Maria Lucinda Esmundo:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Elizabeth McCraven:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Jesse Rokicki-Parashar:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. My-Phuc Le:</mat-radio-button>
              <mat-radio-button value="1" class="col-6 col-sm-4 col-lg-3">Dr. Lakshmi Naidu:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Amy Watson:</mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Janet Hughes: </mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Parivash Moody: </mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Trinh Tran: </mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Maragadham Balu: </mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Dr. Vihn Cai, FNP: </mat-radio-button>
              <mat-radio-button value="2" class="col-6 col-sm-4 col-lg-3">Other Provider: </mat-radio-button>
          </mat-radio-group>
  
          <br/><br/>
          <mat-radio-group class="col-12 mt-4">
              <div class="content col-12 mb-4 font-weight-bold"> ¿Qué clase de cita necesita?</div>
              <mat-radio-button value="1" class="col-12">Examem fisico completo</mat-radio-button>
              <mat-radio-button value="2" class="col-12">Visita médica por problemas que no son urgentes:</mat-radio-button>
              <mat-radio-button value="1" class="col-12">Visita médica de seguimiento</mat-radio-button>
              <mat-radio-button value="1" class="col-12">Otro</mat-radio-button>
          </mat-radio-group>
          
          <br/><br/>
          <div class="content col-12 font-weight-bold">Por favor elija 2 fechas y horas en las que usted está disponible. De otra manera, le asignaremos la siguiente cita disponible.</div>
          <div class="mt-4">
            <mat-form-field class="col-12 col-sm-6">
              <input matInput type="date" placeholder="Escoja Fecha 1">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-6">
              <input matInput type="time" placeholder="Escoja La Hora 1">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-6">
              <input matInput type="date" placeholder="Escoja Fecha 2">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-6">
              <input matInput type="time" placeholder="Escoja La Hora 2">
            </mat-form-field>
          </div>
  
          <div class="col-12 mt-4">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>