<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light row m-0 mbg">
  <div class="col-md-6 p-lg-5 my-auto mtext">
    <h3 class="display-4 font-weight-normal">Events & Fundraisers</h3>
    <p class="lead font-weight-normal">.</p>
  </div>
  <div class="text-right box-shadow d-none d-md-block col-md-6  my-auto">
    <img src="../../assets/images/slide_1.jpg" alt="">
    <img src="../../assets/images/slide_2.jpg" alt="">
    <img src="../../assets/images/slide_3.jpg" alt="">
    <img src="../../assets/images/slide_4.jpg" alt=""><br>
    <img src="../../assets/images/slide_5.jpg" alt="">
    <img src="../../assets/images/slide_6.jpg" alt="">
    <img src="../../assets/images/slide_7.jpg" alt=""><br>
    <img src="../../assets/images/slide_8.jpg" alt="">
    <img src="../../assets/images/slide_1.jpg" alt=""><br>
    <img src="../../assets/images/slide_2.jpg" alt="">
  </div>
</div> -->
<div class="m-md-3">
  <mat-card style="height:600px" class="mob-mat">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title class="hd">Events & Fundraisers</mat-card-title>


    <mat-card-content>
      <div class="ef-st">
        <div class="ef-st-child1">
          <mat-card class="in-card1">
            <mat-card-title> IHC Talking Circle</mat-card-title>
            <mat-card-subtitle>Tuesday, October 9, 2018 | Time: 6:00 PM - 8:00 PM</mat-card-subtitle>
            <p>IHC Admin Conference Room
              1211 Meridian Ave. San Jose, CA 95125
            </p>
            <mat-chip-list>
              <mat-chip color="primary" selected>View/Download Event Flyer</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
        <div class="ef-st-child2">

          <mat-card class="in-card2">
            <mat-card-title> IHC Town Hall Meeting</mat-card-title>
            <mat-card-subtitle>Wednesday, October 10, 2018 | Time: 6:00 PM - 8:00 PM</mat-card-subtitle>
            <p>Roosevelt Community Center

              901 E, Santa Clara st, San Jose, CA 95116
            </p>
            <mat-chip-list>
              <mat-chip color="warn" selected>View/Download Event Flyer</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>

        <div class="ef-st-child3">
          <mat-card class="in-card3">
            <mat-card-title> IHC Community Circle</mat-card-title>
            <mat-card-subtitle>Thursday, October 11, 2018 | Time: 1:00 PM - 5:00 PM</mat-card-subtitle>
            <p>American Legion Hall
               1504 Minnesota Ave, San Jose, CA 95125
            </p>
            <mat-chip-list>
              <mat-chip color="accent" selected>View/Download Event Flyer</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
      </div>

      <div class="ef-st">
        <div class="ef-st-child1">
          <mat-card class="in-card4">
            <mat-card-title> 2018 Spooktacular </mat-card-title>
            <mat-card-subtitle>Friday, October 19, 2018 | Time: 6:00 PM - 9:00 PM</mat-card-subtitle>
            <p>ConXion to Community
               749 Story Rd. San Jose, CA 95122
            </p>
            <mat-chip-list>
              <mat-chip color="primary" selected>View/Download Event Flyer</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
        <div class="ef-st-child2">

          <mat-card class="in-card5">
            <mat-card-title> IHC Fall Gathering 2018</mat-card-title>
            <mat-card-subtitle>Tuesday, November 20, 2018 | Time: 6:00 PM - 8:00 PM</mat-card-subtitle>
            <p>Roosevelt Community Center

                901 E. Santa Clara St. San Jose, CA 95116
            </p>
            <mat-chip-list>
              <mat-chip color="warn" selected>View/Download Event Flyer</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>

        <div class="ef-st-child3">
          <mat-card class="in-card6">
            <mat-card-title> Produce Mobile</mat-card-title>
            <mat-card-subtitle>Every 3rd FRIDAY of the Month from 1:00 pm - 3:00 pm</mat-card-subtitle>
            <p>602 E Santa Clara St. Wellness Center. (Santa Clara St. & 13th St.)  |  San Jose, CA 95112
            </p>
            <mat-chip-list>
              <mat-chip color="accent" selected>View/Download Event Flyer</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
    <div class="text-right box-shadow icont img-r">
        <!-- <img src="../../assets/images/slide_1.jpg" alt=""> -->
        <img src="../../assets/images/slide_2.jpg" alt="" width="145px" height="80px"><br>
        <img src="../../assets/images/slide_3.jpg" alt="" width="145px" height="80px"><br>
        <img src="../../assets/images/slide_5.jpg" alt="" width="145px" height="80px"><br>
        <img src="../../assets/images/slide_6.jpg" alt="" width="145px" height="80px"><br>
        <img src="../../assets/images/slide_7.jpg" alt="" width="145px" height="80px"><br>
        <img src="../../assets/images/slide_8.jpg" alt="" width="145px" height="80px"><br>
      </div>
  </mat-card>
</div>
