<div class="row npbg">
    <h2 class="text-white w-100 p-5 text-center">New Patient Information & Eligibility</h2>
    <p class="text-white w-100 px-5">An important question some clients wonder about is eligibility. "Do I qualify?"
        "How much will I owe for
        services?" These are all questions that are important and here are some answers. In addition, our bi-lingual
        Eligibility Coordinator can be reached via email or phone below.</p>
    <h4 class="text-white w-100 pb-0 px-5 pt-5">Medical</h4>
    <div class="row w-100 p-5">
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Physicals
            </h5>
            <p>
                Child Health and Disability Prevention (CHDP), Whole Woman Healthcare Project
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Immunizations
            </h5>
            <p>
                Child Health and Disability Prevention (CHDP)
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Pregnancy Testing
            </h5>
            <p>
                Presumptive Eligibility (PE)
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Prenatal Care
            </h5>
            <p>
                Presumptive Eligibility (PE)
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Breast Exam
            </h5>
            <p>
                Breast Cancer Early Detection Program (BCEDP)
            </p>
        </div>
    </div>
    <div class="row w-100 p-5">
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Mammogram
            </h5>
            <p>
                Breast Cancer Early Detection Program (BCEDP)
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Pap smear
            </h5>
            <p>
                Whole Woman Healthcare Project, State Only Family Planning (SOFP)
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                Physicals
            </h5>
            <p>
                State Only Family Planning (SOFP)
            </p>
        </div>
        <div class="col-md-2 text-white mat-elevation-z8 text-center pt-3 mx-auto border-dark border">
            <h5>
                STD Check and STD Prescriptions
            </h5>
            <p>
                State Only Family Planning (SOFP)
            </p>
        </div>
    </div>
    <p class="text-white w-100 px-5"> If patients are not eligible for any of the above programs, they will be placed
        on the medical self-pay Sliding
        Fee Scale or asked to pay full-fee. Depending on the level of income and their household size, patients will be
        asked to pay 40%, 50%, 75% or 100% of the total visit charges. If clients do not have money on them, they will
        be billed for the visit. Bills are sent out once a month.</p>

    <p class="text-white w-100 px-5">Self-pay (both Sliding Fee Scale and full-fee) patients are expected to pay 100%
        of the lab charges on the day
        of their visit. The lab offers reduced rates to the clients of the Indian Health Center.</p>

    <h4 class="text-white w-100 pb-0 px-5 pt-5">Dental
    </h4>
    <p class="text-white w-100 px-5 pb-5">
        We accept Medi-Cal and most private insurance plans. Uninsured persons with a certain level of income may
        qualify for our "Discount Program" and receive services below our already reduced fees (proof of income is
        required to apply). Please call (408) 445-3410 x 2300 for more information or to schedule an appointment.
    </p>

</div>